<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="TechyDevs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How About Today</title>
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}">-->
<!--    <meta name="_csrf" th:content="${_csrf.token}">-->
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href=”https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap” rel=”stylesheet”>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/line-awesome.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/daterangepicker.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/animated-headline.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/flag-icon.min.css">
    <link rel="stylesheet" href="/css/leaflet.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/hwt-layout.css">
    <link rel="stylesheet" href="/css/hwt-board.css">
    <link rel="stylesheet" href="/css/hwt-boards.css">
    <link rel="stylesheet" href="/css/hwt-home.css">
    <link rel="stylesheet" href="/css/list-color.css">

</head>
<body>

<!-- header -->
<th:block th:replace="fragments/header::header"></th:block>

<!-- content -->
<th:block layout:fragment="content"></th:block>

<!-- footer -->
<th:block th:replace="fragments/footer::footer"></th:block>


<!-- JS Files -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.countTo.min.js"></script>
<script src="/js/animated-headline.js"></script>
<script src="/js/jquery.multi-file.min.js"></script>
<script src="/js/jquery.ripples-min.js"></script>
<script src="/js/jquery.superslides.min.js"></script>
<script src="/js/superslider-script.js"></script>
<script src="/js/countdown.js"></script>
<script src="/js/quantity-input.js"></script>
<script src="/js/masonry-4.2.2.min.js"></script>
<script src="/js/copy-text-script.js"></script>
<script src="/js/navbar-sticky.js"></script>
<script src="/js/total-price.js"></script>
<script src="/js/leaflet.js"></script>
<script src="/js/map.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/chart.extension.js"></script>
<script src="/js/bar-chart.js"></script>
<script src="/js/jquery.filer.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/custom/iamport.js"></script>
<script src="/js/custom/validate.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYzby4yYDVaXPmtu4jZAGR258K6IYwjIY&libraries"></script>
<script src="js/map-add.js"></script>
<script src="js/ckeditor.js"></script>

<th:block layout:fragment="script"></th:block>

<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->

<script>

    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
</body>
</html>