<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<th:block layout:fragment="content">
<!-- ================================
    START BREADCRUMB AREA
================================= -->
    <section class="breadcrumb-area breadcrumb-board">
        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content text-center">
                            <div class="section-heading">
                                <h2 class="sec__title text-white">ABOUT US</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end breadcrumb-wrap -->
        <div class="bread-svg-box">
            <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
        </div><!-- end bread-svg -->
    </section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START JOB-DETAILS AREA
================================= -->
<section class="job-details-area section--padding">
    <div class="container">
        <div class="row hwt-row-board">
            <div class="col-lg-8 col-board">

                <!-- Board Title -->
                <div class="form-box">
                    <div class="form-title-wrap hwt-board-title hwt-detail-title">
                        <div class="author-bio">
                                <h3 class="title hwt-details-bold" th:text="${boardDetailDTO.boardTitle}">게시글 제목</h3>
                        </div>
                    </div><!-- form-title-wrap -->
                </div>

                <div class="form-box">

                    <!-- Board Content -->
                    <div class="form-content contact-form-action hwt-details-content">
                        <p th:text="${boardDetailDTO.boardContent}">게시글 내용</p>
                    </div><!-- end form-content -->

                    <!-- Admin -->
                    <th:block sec:authorize="hasRole('ADMIN')">
                        <div class="form-bottom-wrap-admin">

                            <!-- Edit & Delete Button -->
                            <div class="hwt-details-bottom-left">
                                <a th:href="@{|/admin/aboutUs-edit/${boardDetailDTO.boardNum}|}" class="author__title detail-button-left">수정</a>
                                <a th:href="@{|/admin/aboutUs-delete/${boardDetailDTO.boardNum}|}" class="author__title">삭제</a>
                            </div>

                            <!-- List Button -->
                            <div class="hwt-details-bottom">
                                <a href="/aboutUs" class="author__title">목록</a>
                            </div>
                        </div><!-- form-bottom-wrap -->
                    </th:block>

                    <!-- Member -->
                    <th:block sec:authorize="!hasRole('ADMIN')">

                        <!-- List Button -->
                        <div class="form-bottom-wrap">
                            <div class="hwt-details-bottom">
                                <a href="/aboutUs" class="author__title">목록</a>
                            </div>
                        </div><!-- form-bottom-wrap -->

                    </th:block>

                </div><!-- end form-box -->

            </div><!-- end col-lg-8 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end job-details-area -->
<!-- ================================
    END JOB-DETAILS AREA
================================= -->

<!-- start back-to-top -->
<div id="back-to-top">
    <i class="la la-angle-up" title="Go top"></i>
</div>
<!-- end back-to-top -->

<!-- end modal-shared -->
<!-- 회원가입 모달 -->
<th:block th:replace="fragments/signUp::signUp"></th:block>


<!-- end modal-shared -->
<!-- 로그인 모달 -->
<th:block th:replace="fragments/signIn::signIn"></th:block>

</th:block>

</html>