<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<th:block layout:fragment="content">
<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area breadcrumb-board">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="breadcrumb-content text-center">
                        <div class="section-heading">
                            <h2 th:if="${(#request.getRequestURI).equals('/notice')}" class="sec__title text-white">NOTICE</h2>
                            <h2 th:if="${(#request.getRequestURI).equals('/event')}" class="sec__title text-white">EVENT</h2>
                        </div>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
    <div class="bread-svg-box">
        <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
    </div><!-- end bread-svg -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START CARD AREA
================================= -->
<section class="card-area section--padding">
    <div class="container">

        <th:block sec:authorize="hasRole('ADMIN')">
            <div class="btn-box pt-3 board-list-btn hwt-row-board">
                <button th:if="${(#request.getRequestURI).equals('/notice')}" type="button" class="theme-btn"
                        onclick="location.href='admin/notice-add'">작성하기</button>
                <button th:if="${(#request.getRequestURI).equals('/event')}" type="button" class="theme-btn"
                        onclick="location.href='admin/event-add'">작성하기</button>
            </div>
        </th:block>

        <div class="row hwt-row-board">

            <!-- 게시글 존재하지 않을 경우 -->
            <th:block th:if="${lists.isEmpty()}">
                <div class="hwt-empty">
                    <p>게시글이 존재하지 않습니다.</p>
                </div>
            </th:block>

            <!-- 게시글 존재할 경우 -->
            <th:block th:each="dto: ${lists}">
                <div class="col-lg-4 responsive-column col-board">
                    <div class="card-item blog-card">

                        <!-- Notice -->
                        <th:block th:if="${(#request.getRequestURI).equals('/notice')}">
                            <input type="hidden" th:value="${dto.boardNum}">

                            <div class="card-footer d-flex align-items-center justify-content-between hwt-board-list"
                                 th:onclick="|location.href='@{|/notice/${dto.boardNum}|}'|">
                                <div class="author-content d-flex hwt-board-title">
                                    <div class="author-bio">
                                        <a class="author__title" th:text="${dto.boardTitle}">게시글 제목</a>
                                    </div>
                                    <div class="hwt-board-date">
                                        <a class="author__title" th:text="${#temporals.format(dto.boardCreate, 'yyyy-MM-dd')}">게시일</a>
                                    </div>
                                </div>
                                <div class="post-share">
                                    <ul>
                                        <li>
                                            <a><i class="la la-share icon-element hwt-icon"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </th:block>

                        <!-- Event -->
                        <th:block th:if="${(#request.getRequestURI).equals('/event')}">
                            <input type="hidden" th:value="${dto.eventNum}">

                            <div class="card-footer d-flex align-items-center justify-content-between hwt-board-list"
                                 th:onclick="|location.href='@{|/event/${dto.eventNum}|}'|">
                                <div class="author-content d-flex hwt-board-title">
                                    <div class="author-bio">
                                        <a class="author__title" th:text="${dto.eventTitle}">게시글 제목</a>
                                    </div>
                                    <div class="hwt-board-date">
                                        <a class="author__title" th:text="|${#temporals.format(dto.eventStart, 'yyyy-MM-dd')} -
                                            ${#temporals.format(dto.eventEnd, 'yyyy-MM-dd')}|">기간</a>
                                    </div>
                                </div>
                                <div class="post-share">
                                    <ul>
                                        <li>
                                            <a><i class="la la-share icon-element hwt-icon"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </th:block>
                    </div><!-- end card-item -->
                </div><!-- end col-lg-4 -->
            </th:block>

            <th:block th:unless="${lists.isEmpty()}">
                <div class="row hwt-btn-more">
                    <div class="col-lg-12">
                        <div class="btn-box mt-3 text-center">
                            <button type="button" class="theme-btn hwt-btn-gray">더보기</button>
                        </div><!-- end btn-box -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </th:block>

        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end card-area -->
<!-- ================================
    END CARD AREA
================================= -->

<div class="section-block"></div>

<th:block th:replace="fragments/bottom-bar::bottom-bar"></th:block>

<!-- start back-to-top -->
<div id="back-to-top">
    <i class="la la-angle-up" title="Go top"></i>
</div>
<!-- end back-to-top -->

</th:block>

</html>