<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<th:block layout:fragment="content">
<!-- ================================
    START BREADCRUMB AREA
================================= -->
    <section class="breadcrumb-area breadcrumb-board">
        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content text-center">
                            <div class="section-heading">
                                <h2 class="sec__title text-white">EDIT EVENT</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end breadcrumb-wrap -->
        <div class="bread-svg-box">
            <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
        </div><!-- end bread-svg -->
    </section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START FORM AREA
================================= -->
<section class="listing-form section--padding hwt-board-form">
    <div class="container">
        <div class="row">

            <form th:action="@{|/admin/event-edit/${eventDetailDTO.eventNum}|}" th:object="${eventDetailDTO}" method="post" enctype="multipart/form-data" class="row board-add-form">

                <!-- Add Form -->
                <div class="col-lg-8 hwt-col-post">
                    <div class="form-box">

                        <!-- Main Title -->
                        <div class="form-title-wrap">
                            <h3 class="title board-add-title"><i class="la la-gear mr-2 text-gray"></i>게시글 수정</h3>
                        </div><!-- form-title-wrap -->

                        <div class="form-content contact-form-action">

                            <input type="hidden" th:field="*{memberNum}">

                            <!-- Title -->
                            <div class="col-lg-12">
                                <div class="input-box">
                                    <label class="label-text board-add-text">제목</label>
                                    <div class="form-group">
                                        <span class="la la-briefcase form-icon"></span>
                                        <input th:field="*{eventTitle}" class="form-control board-add-text" type="text" autofocus>
                                        <div th:each="error : ${#fields.errors('eventTitle')}" th:text="${error}" class="error-message"></div>
                                    </div>
                                </div>
                            </div><!-- end col-lg-12 -->

                            <!-- Event Start Date and End Date -->
                            <div class="col-lg-12">
                                <div class="input-box">
                                    <label class="label-text board-add-text">시작일 - 종료일</label>
                                    <div class="form-group event-date">
                                        <span class="la la-calendar form-icon"></span>
                                        <input class="date-picker-multiple form-control board-add-text" type="text" name="date" readonly>
                                    </div>
                                </div>
                            </div><!-- end col-lg-12 -->

                            <!-- Upload Image -->
                            <div class="col-lg-4 hwt-col-post">
                                <label class="label-text board-add-text">이미지 업로드</label>
                                <div class="form-box event-box">
                                    <div class="form-content">
                                        <div class="file-upload-wrap file-upload-wrap-3">
                                            <input type="file" th:field="*{eventImageList}" class="multi file-upload-input with-preview" multiple>
                                            <span class="file-upload-text">
                                                    <i class="la la-upload mr-2"></i>파일을 선택하세요.
                                            </span>

                                            <th:block th:if="${!eventImageList.isEmpty()}">
                                                <span class="file-upload-text event-file">
                                                    <div class="MultiFile-list" id="MultiFile1_list">
                                                        <th:block th:each="eventImage: ${eventImageList}">
                                                            <div class="MultiFile-label">
                                                                <a class="MultiFile-remove event-remove" th:href="@{|/admin/event-edit/${eventImage.eventNum}/${eventImage.eventImageNum}|}">x
                                                                </a>
                                                                <span>
                                                                    <span class="MultiFile-label" title="File selected: ${eventImage.saveFileName}">
                                                                        <span class="MultiFile-title" th:value="${eventImage.saveFileName}"
                                                                              th:text="${eventImage.saveFileName}"></span>
                                                                        <img class="MultiFile-preview" style="max-height:100px; max-width:100px;"
                                                                             th:src="@{|/images/hwt/event/${eventDetailDTO.eventNum}/${eventImage.saveFileName}|}">
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </th:block>
                                                    </div>
                                                </span>
                                            </th:block>
                                        </div>
                                    </div><!-- end form-content -->
                                </div><!-- end form-box -->
                            </div>

                        </div><!-- end form-content -->
                    </div><!-- end form-box -->
                </div><!-- end col-lg-8 -->

                <!-- Button -->
                <div class="submit-box hwt-btn-submit">
                    <div class="btn-box pt-3">
                        <button type="button" class="theme-btn hwt-btn-left board-btn-white" onclick="history.back()">뒤로가기</button>
                        <button type="submit" class="theme-btn">수정하기</button>
                    </div>
                </div><!-- end submit-box -->

            </form>

        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end listing-form -->
<!-- ================================
    END FORM AREA
================================= -->

<th:block th:replace="fragments/bottom-bar::bottom-bar"></th:block>

<!-- start back-to-top -->
<div id="back-to-top">
    <i class="la la-angle-up" title="Go top"></i>
</div>
<!-- end back-to-top -->

</th:block>

</html>