// user header
.hwt-header-area {
    margin-left: 310px;
    padding-bottom: 10px;
}

.user-header-container {
    padding-right: 0;
}

.header-right-wrap {
    display: flex;
}

.user-header-right {
    padding-right: 20px;
}

.user-header-navi {
    nav {
        ul {
            li {
                padding-right: 40px;
            }
        }
    }
}

.hwt-dropdown {
    margin: 0 25px 0 22px;
}

.hwt-header-wrap {
    margin-left: 0;
    padding-left: 130px;
}


// user footer
.hwt-footer-area {
    margin-left: 310px;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 10px;
}