<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>

    <!-- ================================
        상단 객실 이미지 시작
    ================================= -->
    <section class="room-detail-bread">

        <div class="full-width-slider carousel-action" th:each="roomImageDTO : ${roomDetailDTO?.roomImageList}">
            <div class="full-width-slide-item">
                <img th:src="|/data/images/${roomImageDTO.roomSaveFileName}|" alt="">

            </div><!-- end full-width-slide-item -->
        </div><!-- end full-width-slider -->
    </section><!-- end room-detail-bread -->
    <!-- ================================
        상단 객실 이미지 끝
    ================================= -->

    <!-- ================================
        객실 상세 BODY 시작
    ================================= -->
    <section class="tour-detail-area padding-bottom-90px">
        <div class="single-content-navbar-wrap menu section-bg" id="single-content-navbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-content-nav" id="single-content-nav">
                            <ul>
                                <li><a data-scroll="description" href="#description" class="scroll-link active">상세설명</a></li>
                                <li><a data-scroll="services" href="#services" class="scroll-link">서비스</a></li>
                                <li><a data-scroll="amenities" href="#amenities" class="scroll-link">인기시설</a></li>
                                <li><a data-scroll="reviews" href="#reviews" class="scroll-link">후기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end single-content-navbar-wrap -->
        <div class="single-content-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <!--                    <form action="/orders/payment" method="get" id="roomForm">-->
                            <div class="single-content-wrap padding-top-60px">
                                <div id="description" class="page-scroll">
                                    <div class="single-content-item pb-4">
                                        <h3 class="title font-size-26" th:text="${roomDetailDTO?.roomName}">방 이름</h3>
                                        <p class="pt-2">
                                            <span class="badge badge-warning text-white font-size-16" th:text="${roomDetailDTO?.roomRating}">4.6</span>
                                            <span th:text="|(${roomDetailDTO?.roomReviewNum})|">(4,209개의 리뷰)</span>
                                        </p>
                                    </div><!-- end single-content-item -->

                                    <!-- 기본 정보 -->
                                    <div class="section-block"></div>
                                    <div class="single-content-item padding-top-30px padding-bottom-40px">
                                        <h3 class="title font-size-20">이용규칙</h3>
                                        <p class="py-3"></p>
                                        <ul class="list-items">
                                            <li><i class="la la-dot-circle mr-2" th:text="| 최대 ${roomDetailDTO.maxGuest}인 이용 가능|"></i></li>
                                            <li><i class="la la-dot-circle mr-2"></i>금연 객실</li>
                                        </ul>
                                    </div><!-- end single-content-item -->
                                    <div class="section-block"></div>
                                </div><!-- end description -->

                                <!-- 서비스 -->
                                <div id="services" class="page-scroll">
                                    <div class="single-content-item padding-top-40px padding-bottom-40px">
                                        <h3 class="title font-size-20">서비스</h3>
                                        <div class="row pt-4" th:each="serviceList : ${slist}">
                                            <div class="col-lg-4 responsive-column">
                                                <div class="single-tour-feature d-flex align-items-center mb-3">
                                                    <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                        <i class="la la-check-circle"></i>
                                                    </div>
                                                    <div class="single-feature-titles">
                                                        <h3 class="title font-size-15 font-weight-medium" th:text="${serviceList.serviceName}">주차 가능</h3>
                                                    </div>
                                                </div><!-- end single-tour-feature -->
                                            </div><!-- end col-lg-4 -->
                                        </div><!-- end row -->
                                    </div><!-- end single-content-item -->
                                    <div class="section-block"></div>
                                </div><!-- end itinerary -->

                                <!-- 인기 시설 -->
                                <div id="amenities" class="page-scroll">
                                    <div class="single-content-item padding-top-40px padding-bottom-40px">
                                        <h3 class="title font-size-20">주요 시설</h3>
                                        <div class="row pt-4" th:each="amenities : ${alist}">
                                            <div class="col-lg-4 responsive-column">
                                                <div class="single-tour-feature d-flex align-items-center mb-3">
                                                    <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                        <i class="la la-check"></i>
                                                    </div>
                                                    <div class="single-feature-titles">
                                                        <h3 class="title font-size-15 font-weight-medium" th:text="${amenities.amenitiesName}">2인 소파</h3>
                                                    </div>
                                                </div><!-- end single-tour-feature -->
                                            </div><!-- end col-lg-4 -->
                                        </div><!-- end row -->
                                    </div><!-- end single-content-item -->
                                    <div class="section-block"></div>
                                </div><!-- end itinerary -->

                                <!-- 후기 리스트 -->
                                <div class="review-box">
                                    <div class="single-content-item padding-top-40px">
                                        <h3 class="title font-size-20" th:text="|${roomDetailDTO.roomReviewNum}개의 리뷰|"></h3>
                                        <div class="comments-list padding-top-50px">
                                            <div class="comment" th:each="reviewList : ${rlist}">
                                                <div class="comment-body">
                                                    <div class="meta-data">
                                                        <h3 class="comment__author" th:text="${reviewList.nickname}">투숙객 이름</h3>
                                                        <div class="meta-data-inner d-flex">
                                                    <span class="ratings d-flex align-items-center mr-1" th:text="|${reviewList.reviewRating} /|">
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                    </span>
                                                            <p class="comment__date" th:text="${reviewList.reviewCreatedDate}">2022.11.13</p>
                                                        </div>
                                                    </div>
                                                    <p class="comment-content" th:text="${reviewList.reviewContent}">
                                                        후기 내용
                                                    </p>
                                                </div>
                                            </div><!-- end comments -->
                                        </div><!-- end comments-list -->

                                        <!-- 후기 작성 -->
                                        <div th:if="${ordersDetailDTOList.size() != 0}" class="comment-forum padding-top-40px">
                                            <div class="form-box">
                                                <div class="form-title-wrap">
                                                    <h3 class="title">후기 작성</h3>
                                                </div><!-- form-title-wrap -->

                                                <div class="form-content">
                                                    <div class="contact-form-action">
                                                        <select class="select-contain-select w-50">
<!--                                                            <option value="0">예약 선택</option>-->
                                                            <option th:each="ordersDetail  : ${ordersDetailDTOList}" th:value="${ordersDetail.getOrdersNum()}"  th:text="|${ordersDetail.getStartDate()} ~ ${ordersDetail.getEndDate()}|">객실 선택</option>
                                                        </select>
                                                        <div class="form-content">
                                                            <div class="rate-option p-2">
                                                                <div class="row">
                                                                    <div class="col-lg-4 responsive-column">
                                                                        <div class="rate-option-item">
                                                                            <label>평점</label>
                                                                            <div class="rate-stars-option">
                                                                                <input type="checkbox" id="lst5" name="ratingStar" value="5">
                                                                                <label for="lst5"></label>
                                                                                <input type="checkbox" id="lst4" name="ratingStar" value="4">
                                                                                <label for="lst4"></label>
                                                                                <input type="checkbox" id="lst3" name="ratingStar" value="3">
                                                                                <label for="lst3"></label>
                                                                                <input type="checkbox" id="lst2" name="ratingStar" value="2">
                                                                                <label for="lst2"></label>
                                                                                <input type="checkbox" id="lst1" checked="checked" name="ratingStar" value="1">
                                                                                <label for="lst1"></label>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- col-lg-4 -->
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 responsive-column">
                                                                        <div class="input-box">
                                                                            <label class="label-text">성함</label>
                                                                            <div class="form-group">
                                                                                <span class="la la-user form-icon"></span>
                                                                                <input class="form-control" type="text" name="text" id="reviewMemberName" placeholder="투숙객 성함">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="input-box">
                                                                            <label class="label-text">내용</label>
                                                                            <div class="form-group">
                                                                                <span class="la la-pencil form-icon"></span>
                                                                                <textarea class="message-control form-control" name="reviewContent" placeholder="후기 내용을 작성해주세요"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="btn-box">
                                                                            <button type="button" id="reviewWrite" class="theme-btn hwt-btn-gray">작성하기
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- end contact-form-action -->
                                                </div><!-- end form-content -->
                                            </div><!-- end form-box -->
                                        </div><!-- end comment-forum -->
                                    </div><!-- end single-content-item -->
                                </div><!-- end review-box -->
                            </div><!-- end single-content-wrap -->
                    </div><!-- end col-lg-8 -->

                    <!-- 오른쪽 네비바 -->


                    <div class="col-lg-4">
                        <form th:action="@{/orders/directPayment}" method="get" th:name="roomForm">
                            <div class="sidebar single-content-sidebar mb-0">
                                <div class="sidebar-widget single-content-widget">
                                    <h3 class="title stroke-shape">숙박 예약</h3>
                                    <div class="sidebar-widget-item">
                                        <div class="contact-form-action">
                                            <form action="#" id="date-form">
                                                <div class="input-box">
                                                    <label class="label-text">Check in - Check out</label>
                                                    <div class="form-group">
                                                        <span class="la la-calendar form-icon"></span>
                                                        <input class="date-picker-multiple form-control" type="text" minDate="2022-11-01" maxDate="2022-11-03" name="daterange" id="checkDate" readonly>
                                                        <input type="hidden" id="roomNum" th:name="roomNum" th:value="${roomDetailDTO.roomNum}" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div><!-- end sidebar-widget-item -->
                                    <div class="sidebar-widget-item">
                                        <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                            <label class="font-size-16">성인 </label>
                                            <div class="qtyBtn d-flex align-items-center">
                                                <div class="qtyDec"><i class="la la-minus"></i></div>
                                                <input id="adult_qty" type="text" th:name="adult_qty" th:value="2">
                                                <div class="qtyInc"><i class="la la-plus"></i></div>
                                            </div>
                                        </div><!-- end qty-box -->
                                        <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                            <label class="font-size-16">아동 </label>
                                            <div class="qtyBtn d-flex align-items-center">
                                                <div class="qtyDec"><i class="la la-minus"></i></div>
                                                <input type="text" id="child_qty"  class="reserve-qty" th:name="child_qty" th:value="0">
                                                <div class="qtyInc"><i class="la la-plus"></i></div>
                                            </div>
                                        </div><!-- end qty-box -->
                                    </div><!-- end sidebar-widget-item -->
                                    <div class="btn-box">
                                        <a th:href="|javascript:void(0)|" id="cart-button" class="theme-btn hwt-btn-gray text-center w-100 mb-2 "><i class="la la-shopping-cart mr-2 font-size-18"></i>카트 추가하기</a>
                                        <a th:href="|javascript:void(0)|" id="checkout-button" th:onclick="roomSubmit()" class="theme-btn hwt-btn-gray text-center w-100 mb-2">바로 예약</a>
                                    </div>
                                </div><!-- end sidebar-widget -->
                                <div class="sidebar-widget single-content-widget">
                                    <h3 class="title stroke-shape">이 숙소를 추천하는 이유</h3>
                                    <div class="sidebar-list">
                                        <ul class="list-items">
                                            <li><i class="la la-dollar icon-element mr-2"></i>최적의 가격으로 최상의 서비스</li>
                                            <li><i class="la la-microphone icon-element mr-2"></i>연중무휴 24시간 고객 관리 가능</li>
                                        </ul>
                                    </div><!-- end sidebar-list -->
                                </div><!-- end sidebar-widget -->
                                <div class="sidebar-widget single-content-widget">
                                    <h3 class="title stroke-shape">문의</h3>
                                    <p class="font-size-14 line-height-24">주저하지 말고 전화하세요. 저희 팀은 전문팀이고 고객님과 대화하게 되어 기쁩니다.</p>
                                    <div class="sidebar-list pt-3">
                                        <ul class="list-items">
                                            <li><i class="la la-phone icon-element mr-2"></i><a href="#">02-222-2222</a></li>
                                            <li><i class="la la-envelope icon-element mr-2"></i><a href="mailto:info@trizen.com">pheonix@itwill.com</a></li>
                                        </ul>
                                    </div><!-- end sidebar-list -->
                                </div><!-- end sidebar-widget -->
                            </div><!-- end sidebar -->
                        </form>
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end single-content-box -->
    </section><!-- end tour-detail-area -->
    <!-- ================================
        END TOUR DETAIL AREA
    ================================= -->

    <!-- ================================
        START CTA AREA
    ================================= -->
    <section class="cta-area subscriber-area section-bg-2 padding-top-60px padding-bottom-60px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="section-heading">
                        <p class="sec__desc text-white-50 pb-1">Newsletter sign up</p>
                        <h2 class="sec__title font-size-30 text-white">Subscribe to Get Special Offers</h2>
                    </div><!-- end section-heading -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5">
                    <div class="subscriber-box">
                        <div class="contact-form-action">
                            <form action="#">
                                <div class="input-box">
                                    <label class="label-text text-white">Enter email address</label>
                                    <div class="form-group mb-0">
                                        <span class="la la-envelope form-icon"></span>
                                        <input class="form-control" type="email" name="email" placeholder="Email address">
                                        <button class="theme-btn theme-btn-small submit-btn" type="submit">Subscribe</button>
                                        <span class="font-size-14 pt-1 text-white-50"><i class="la la-lock mr-1"></i>Don't worry your information is safe with us.</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- end section-heading -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end cta-area -->
    <!-- ================================
        END CTA AREA
    ================================= -->

    <!-- start back-to-top -->
    <div id="back-to-top">
        <i class="la la-angle-up" title="Go top"></i>
    </div>
    <!-- end back-to-top -->

    <!-- end modal-shared -->
    <div class="modal-popup">
        <div class="modal fade" id="signupPopupForm" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <h5 class="modal-title title" id="exampleModalLongTitle">회원가입</h5>
                            <p class="font-size-14">안녕하세요! 회원가입을 환영합니다.</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="contact-form-action">
                            <form method="post" action="/member/join">
                                <div class="input-box">
                                    <label class="label-text">닉네임</label>
                                    <div class="form-group">
                                        <span class="la la-user form-icon"></span>
                                        <input class="form-control" type="text" name="nickname" placeholder="닉네임">
                                    </div>
                                </div><!-- end input-box -->
                                <div class="input-box">
                                    <label class="label-text">이메일 주소</label>
                                    <div class="form-group">
                                        <span class="la la-envelope form-icon"></span>
                                        <input class="form-control" type="email" name="email" placeholder="이메일 주소">
                                    </div>
                                </div><!-- end input-box -->
                                <div class="input-box">
                                    <label class="label-text">패스워드</label>
                                    <div class="form-group">
                                        <span class="la la-lock form-icon"></span>
                                        <input class="form-control" type="password" name="pwd" placeholder="패스워드">
                                    </div>
                                </div><!-- end input-box -->
                                <!--                                    <div class="input-box">-->
                                <!--                                        <label class="label-text">패스워드 확인</label>-->
                                <!--                                        <div class="form-group">-->
                                <!--                                            <span class="la la-lock form-icon"></span>-->
                                <!--                                            <input class="form-control" type="password" name="text" placeholder="패스워드 재입력">-->
                                <!--                                        </div>-->
                                <!--                                    </div>&lt;!&ndash; end input-box &ndash;&gt;-->
                                <div class="btn-box pt-3 pb-4">
                                    <button type="submit" class="theme-btn w-100">회원가입</button>
                                </div>
                                <div class="action-box text-center">
                                    <p class="font-size-14">SNS를 통한 회원가입</p>
                                    <ul class="social-profile py-3">
                                        <li><a href="#" class="bg-5 text-white"><i class="lab la-facebook-f"></i></a></li>
                                        <li><a href="#" class="bg-6 text-white"><i class="lab la-twitter"></i></a></li>
                                        <li><a href="#" class="bg-7 text-white"><i class="lab la-instagram"></i></a></li>
                                        <li><a href="#" class="bg-5 text-white"><i class="lab la-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end modal-popup -->

    <!-- end modal-shared -->
    <div class="modal-popup">
        <div class="modal fade" id="loginPopupForm" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <h5 class="modal-title title" id="exampleModalLongTitle2">로그인</h5>
                            <p class="font-size-14">안녕하세요! 로그인을 환영합니다.</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="contact-form-action">
                            <form method="post" action="/loginProc">
                                <div class="input-box">
                                    <label class="label-text">이메일</label>
                                    <div class="form-group">
                                        <span class="la la-envelope form-icon"></span>
                                        <input class="form-control" type="email" name="email" id="email" placeholder="이메일 주소">
                                    </div>
                                </div><!-- end input-box -->
                                <div class="input-box">
                                    <label class="label-text">패스워드</label>
                                    <div class="form-group mb-2">
                                        <span class="la la-lock form-icon"></span>
                                        <input class="form-control" type="password" name="pwd" id="pwd" placeholder="패스워드">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <!--                                    <div class="custom-checkbox mb-0">-->
                                        <!--                                        <input type="checkbox" id="rememberchb">-->
                                        <!--                                        <label for="rememberchb">Remember me</label>-->
                                        <!--                                    </div>-->
                                        <p class="forgot-password">
                                            <a href="recover">비밀번호를 잊으셨나요?</a>
                                        </p>
                                    </div>
                                </div><!-- end input-box -->
                                <div class="btn-box pt-3 pb-4">
                                    <button type="submit" id="login" class="theme-btn w-100">로그인</button>
                                </div>
                                <div class="action-box text-center">
                                    <p class="font-size-14">SNS를 통한 로그인</p>
                                    <ul class="social-profile py-3">
                                        <li><a href="#" class="bg-5 text-white"><i class="lab la-facebook-f"></i></a></li>
                                        <li><a href="#" class="bg-6 text-white"><i class="lab la-twitter"></i></a></li>
                                        <li><a href="#" class="bg-7 text-white"><i class="lab la-instagram"></i></a></li>
                                        <li><a href="#" class="bg-5 text-white"><i class="lab la-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end modal-popup -->

    <!-- end modal-shared -->
    <div class="modal-popup">
        <div class="modal fade" id="replayPopupForm" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title title" id="exampleModalLongTitle3">Replay to review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="contact-form-action">
                            <form method="post">
                                <div class="input-box">
                                    <div class="form-group mb-0">
                                        <i class="la la-pencil form-icon"></i>
                                        <textarea class="message-control form-control" name="message" placeholder="Write message here..."></textarea>
                                    </div>
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                    </div>
                    <div class="modal-footer border-top-0 pt-0">
                        <button type="button" class="btn font-weight-bold font-size-15 color-text-2 mr-2" data-dismiss="modal">Cancel</button>
                        <button type="button" class="theme-btn theme-btn-small">Replay</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end modal-popup -->

    <!-- end modal-shared -->
    <div class="modal-popup">
        <div class="modal fade" id="sharePopupForm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title title" id="exampleModalLongTitle4">Share this tour</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="copy-to-clipboard-wrap">156</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end modal-popup -->
    <script>

        function roomSubmit(){
            const roomNum = document.querySelector("#roomNum").value;
            alert(roomNum)
            fetch("/cartDuplCheck?roomNum=" + roomNum)
                .then((response)=>response.json())
                .then((result)=> {
                    if (result.data === true){
                        alert("장바구니에 존재하는 객실입니다.")
                    }
                    else{
                        alert("서밋")
                        const roomForm = document.querySelector("form[name='roomForm']");
                        console.log(roomForm)
                        roomForm.submit();
                    }
                });
        }

        $("#cart-button").click(function(){

            const checkDate = $("#checkDate").val();
            const adultQty = $("#adult_qty").val();
            const childQty = $("#child_qty").val();
            const roomNum = $("#roomNum").val();
            console.log(checkDate)
            console.log(adultQty)
            console.log(childQty)

            const cartForm = JSON.stringify({
                // check_in: check_in,
                // check_out: check_out,
                checkDate : checkDate,
                adultQty: adultQty,
                childQty: childQty,
            });
            // let form = $("#reserve-form").serialize();


            $.ajax({
                type: 'post',
                url: '/rest/cart/' + roomNum,
                data: cartForm,
                contentType: 'application/json; charset=utf-8',
                dataType:"text",
            }).done(function(result){
                if(result == "true"){
                    alert("장바구니에 존재하는 객실입니다.");
                } else{
                    alert("장바구니에 저장되었습니다.");
                    window.location.href = '/cart/';
                }
            }).fail(function (error){
                alert("요청 실패")
                console.log(JSON.stringify(error));
            });
        });


    </script>
</th:block>

</html>