<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">
<!-- ================================
       START FOOTER AREA
================================= -->
<section class="footer-area section-bg padding-top-100px padding-bottom-30px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 responsive-column col-footer">
                <div class="footer-item">
                    <div class="footer-logo padding-bottom-30px">
                        <a href="home" class="foot__logo"><img src="/images/hwt.png" width="250px" alt="logo"></a>
                    </div><!-- end logo -->
                    <p class="footer__desc">소중한 하루를 위한, 오늘어때</p>
                    <ul class="list-items pt-3">
                        <li>서울시 강남구 테헤란로 124</li>
                        <li>+02-1111-2222</li>
                        <li><a href="#">how-about-today@hwt.com</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 responsive-column col-footer">
                <div class="footer-item">
                    <h4 class="title margin-bottom-20px" data-text="curvs">오늘어때</h4>
                    <ul class="list-items list--items list-footer">
                        <li><a href="notice">공지사항</a></li>
                        <li><a href="event">이벤트</a></li>
                        <li><a href="faq">자주 묻는 질문</a></li>
                        <li><a href="contact">고객센터</a></li>
                        <li><a href="about">오늘어때 정보</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
    </div><!-- end container -->
    <div class="section-block mt-4"></div>
</section><!-- end footer-area -->
<!-- ================================
       START FOOTER AREA
================================= -->
</th:block>

</html>