<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="user-footer">

<div class="border-top mt-5 user-footer-border"></div>

<section class="footer-area section-bg hwt-footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 responsive-column col-footer">
                <div class="footer-item user-footer-item">
                    <div class="footer-logo padding-bottom-30px">
                        <a href="home" class="foot__logo"><img src="/images/hwt/hwt.png" width="250px" alt="logo"></a>
                    </div><!-- end logo -->
                    <ul class="list-items pt-3 footer-content">
                        <li>(주)오늘어때 | 사업자 등록번호 : 220-88-41185 | 통신판매업신고 : 강남-1213호</li>
                        <li>메일 : how-about-today@hwt.com | 관광사업자 등록번호 : 제2022-01호 | 주소 : 서울 강남구 테헤란로 124</li>
                        <li>호스팅서비스 제공자 : 주식회사 오늘어때 | 고객센터 : 1588-1420 (오전 9시 - 오후 6시)</li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end footer-area -->

</th:block>

</html>