/* Font */
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}

/* header */
.hwt-header-right {
    display: flex;
    padding-top: 22px;
    margin-left: auto;
    padding-right: 35px;
}

.hwt-header-navi {
    padding-top: 0;
    margin-left: 0;
    padding-right: 40px;
}

.header-icon-wrap {
    margin-left: 20px;
}

.header-icon {
    width: 35px;
}

/* search */
.hwt-search-container {
	padding: 30px 20px 30px;
}

.hwt-search {
	display: flex;
}

.hwt-search form {
	    width: 85%;
    padding-left: 60px;
}

.hwt-search-element {
	    flex: 0 0 33%;
    max-width: 33%;
}

.hwt-search-btn {
	    padding-left: 50px;
    padding-top: 37px!important;
}

/* infomation */
.hwt-info {
    padding-top: 30pt;
}

.hwt-info2 {
    padding: 50pt 0 70pt;
}

.hwt-info::before, .hwt-info2::before {
	background-image: unset;
}

.hwt-iconbox-pointer {
	    cursor: pointer;
	    text-align: center;
}

.hwt-info-icon {
    margin-right: 0!important;
    margin-bottom: 10px;
    background-color: rgb(81 117 169 / 10%)!important;
    color: #566578!important;
}

.hwt-row-icon {
	    margin-left: 90px;
}

.hwt-icon-layout {
	    margin-left: 45px;
        margin-bottom: 0;
}

.hwt-col-icon {
	    flex: 0 0 23%;
    max-width: 23%;
}

.hwt-title p {
	font-size: 18pt!important;
    padding-bottom: 42pt;
    padding-left: 20pt;
}

.hwt-section-block {
	height: 15px;
}

/* popular */
.hwt-circle {
    border-radius: 100%;
    width: 280px;
    height: 280px;
    background-size: cover;
}

.hwt-circle::after {
    content :'';
    position : absolute;
    top : 0;
    left : 0;
    width: 280px;
    height: 280px;
    background-color : rgba(0,0,0,0.2);
    border-radius: 100%;
}

.hwt-circle-text {
    padding: 0;
    left: 33%;
    top: 45%;
    position: absolute;
    z-index : 1;
}

.hwt-circle-text p {
    font-size: 16pt!important;
    font-weight: 600!important;
    color: #fff;
}

/* banner */
.hwt-banner {
    height: 250px;
}

.hwt-banner-wrap {
    margin-top: 0;
}

.hwt-banner::before {
    background-color: #566578;
    opacity: unset;
}

.hwt-carousel {
    padding-left: 44pt;
}

.hwt-banner-content-wrap {
    display: flex;
}

.hwt-banner-content-btn {
    padding-left: 100px;
    line-height: 5;
}