/* Font */
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}


/* Button */
.hwt-btn-white-fix {
    color: #566578;
    border-color: #fff!important;
    background-color: #fff;
}

.hwt-btn-white {
    color: #566578;
    border-color: #fff!important;
    background-color: #fff;
}

.hwt-btn-white:hover {
    color: #fff;
    border-color: #fff!important;
    background-color: #566578;
}

.hwt-btn-gray {
    color: #fff;
    border-color: #566578;
    background-color: #566578;
}

.hwt-btn-gray:hover {
    color: #566578;
    border-color: #566578;
    background-color: #fff;
}

.hwt-font-title {
	font-size: 16px!important;
}


/* header */
.hwt-header-right {
    display: flex;
    padding-top: 22px;
    margin-left: auto;
    padding-right: 35px;
}

.hwt-header-navi {
    padding-top: 0;
    margin-left: 0;
    padding-right: 40px;
}

.header-icon-wrap {
    margin-left: 20px;
}

.header-icon {
    width: 33px;
}

.hwt-header-menu {
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 55px;
}

.hwt-menu-content {
    padding-right: 81px;
}

.hwt-btns a {
    margin-right: 15px!important;
}

.hwt-menu-item {
    padding-right: 40px!important;
}

.hwt-adjust {
    padding-right: 127px;
}

/* FOOTER */
.col-footer {
    flex: 0 0 100%;
    max-width: 100%;
}

.list-items li a:hover {
    color: #566578;
}

.list-footer a::before {
	height: 0;
}

.hwt-icon-bg:hover {
    background-color: #566578!important
}

.footer-content {
    font-size: 11pt;
}


/* banner */
.hwt-banner {
    height: 250px;
}

.hwt-banner-wrap {
    margin-top: 0;
}

.hwt-banner::before {
    background-color: #566578;
    opacity: unset;
}

.hwt-carousel {
    padding-left: 44pt;
}

.hwt-banner-content-wrap {
    display: flex;
}

.hwt-banner-content-btn {
    padding-left: 130px;
    line-height: 5;
}

.hwt-banner-title {
    font-size: 35px!important;
}

.user-footer-item {
    margin-bottom: 35px;
}

.user-footer-border {
    margin-top: 170px!important;
}