<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="layout/layout">

<th:block layout:fragment="content">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- ================================
        START BREADCRUMB AREA
    ================================= -->
    <section class="breadcrumb-area bread-bg-7">
        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content text-center">
                            <div class="section-heading">
                                <h1 style="text-shadow:1px 1px 1px #000;" class="sec__title text-white" th:text="${viewName}">Hotel</h1>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end breadcrumb-wrap -->
    </section><!-- end breadcrumb-area -->
    <!-- ================================
        END BREADCRUMB AREA
    ================================= -->

    <!-- ================================
        START CARD AREA
    ================================= -->
    <section class="card-area section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="filter-wrap margin-bottom-30px">
                        <div class="filter-top d-flex align-items-center justify-content-between pb-4">
                            <div>
                                <h3 class="title font-size-40" th:text="|${viewName} 예약|">호텔 예약</h3>
                            </div>
                        </div><!-- end filter-top -->
                        <!--필터 창-->
                        <div class="filter-bar d-flex align-items-center justify-content-between">
                            <div class="filter-bar-filter d-flex flex-wrap align-items-center">
                                <div class="filter-option">
                                    <h3 class="title font-size-18">정렬:</h3>
                                </div>

                            </div><!-- end filter-bar-filter -->
                            <div class="select-contain">
                                <select class="select-contain-select" id="sort">
                                    <option value="asc">가격: 낮은순</option>
                                    <option value="desc">가격: 높은순</option>
                                </select>
                            </div><!-- end select-contain -->
                        </div><!-- end filter-bar -->
                    </div><!-- end filter-wrap -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
            <!--검색 및 필터 -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="sidebar mt-0">
                        <div class="sidebar-widget">
                                <h3 class="title stroke-shape" th:text="|${viewName} 검색|">호텔 검색</h3>
                                <div class="sidebar-widget-item">
                                    <form id="searchForm" th:object="${searchForm}" method="get">
                                        <input type="hidden" id="hiddenNum" name="accomNum" value="">
                                        <input type="hidden" th:field="*{adult_number}">
                                        <input type="hidden" th:field="*{child_number}">
                                    <div class="contact-form-action">
                                        <div class="input-box">
                                            <label class="label-text" th:text="|${viewName} 이름|">호텔 이름</label>
                                            <div class="form-group">
                                                <span class="la la-map-marker form-icon"></span>
                                                <input class="form-control" type="text" name="keyword" id="keyword" placeholder="이름을 입력하세요.">
                                            </div>
                                        </div>
                                        <div class="input-box">
                                            <label class="label-text">날짜 선택</label>
                                            <div class="form-group">
                                                <span class="la la-calendar form-icon"></span>
                                                <input class="date-picker-multiple form-control" type="text" fi th:field="*{daterange}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div><!-- end sidebar-widget-item -->
                                <!--                            <div class="sidebar-widget-item">-->
                                <!--                                <div class="qty-box mb-2 d-flex align-items-center justify-content-between">-->
                                <!--                                    <label class="font-size-16">성인</label>-->
                                <!--                                    <div class="qtyBtn d-flex align-items-center">-->
                                <!--                                        <div class="qtyDec"><i class="la la-minus"></i></div>-->
                                <!--                                        <input type="text" name="adult" value="0">-->
                                <!--                                        <div class="qtyInc"><i class="la la-plus"></i></div>-->
                                <!--                                    </div>-->
                                <!--                                </div>&lt;!&ndash; end qty-box &ndash;&gt;-->
                                <!--                                <div class="qty-box mb-2 d-flex align-items-center justify-content-between">-->
                                <!--                                    <label class="font-size-16">아동</label>-->
                                <!--                                    <div class="qtyBtn d-flex align-items-center">-->
                                <!--                                        <div class="qtyDec"><i class="la la-minus"></i></div>-->
                                <!--                                        <input type="text" name="child" value="0">-->
                                <!--                                        <div class="qtyInc"><i class="la la-plus"></i></div>-->
                                <!--                                    </div>-->
                                <!--                                </div>&lt;!&ndash; end qty-box &ndash;&gt;-->
                                <!--                            </div>&lt;!&ndash; end sidebar-widget-item &ndash;&gt;-->
                                <div class="btn-box pt-2">
                                    <button class="theme-btn hwt-btn-gray" id="keyword_Btn">검 색</button>
                                </div>

                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget">
                            <h3 class="title stroke-shape">가격 검색</h3>
                            <div class="sidebar-price-range">
                                <div class="main-search-input-item">
                                    <div class="price-slider-amount padding-bottom-20px">
                                        <label for="amount2" class="filter__label">가격:</label>
                                        <input type="text" id="amount2" class="amounts hwt-amounts">
                                    </div><!-- end price-slider-amount -->
                                    <div id="slider-range2"></div><!-- end slider-range -->
                                </div><!-- end main-search-input-item -->
                                <div class="btn-box pt-4">
                                    <button class="theme-btn hwt-btn-gray" id="price_Btn" type="button">적 용</button>
                                </div>
                            </div>
                        </div><!-- end sidebar-widget -->
                        <!-- 별점 순 나열-->
                        <div class="sidebar-widget">
                            <h3 class="title stroke-shape">별점 순</h3>
                            <div class="sidebar-review">
                                <div class="radio-inline mb-0">
                                    <input type="radio" id="s1" name="starCheck" class="star" value="5">
                                    <label for="s1">
                                    <span class="ratings d-flex align-items-center">
                                        <i >&nbsp;5점 이하 &nbsp;</i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>

                                    </span>
                                    </label>
                                </div>
                                <div class="radio-inline mb-0">
                                    <input type="radio" id="s2" name="starCheck" class="star" value="4">
                                    <label for="s2">
                                    <span class="ratings d-flex align-items-center">
                                        <i >&nbsp;4점 이하 &nbsp;</i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                    </span>
                                    </label>
                                </div>
                                <div class="radio-inline mb-0">
                                    <input type="radio" id="s3" name="starCheck" class="star" value="3">
                                    <label for="s3">
                                    <span class="ratings d-flex align-items-center">
                                        <i>&nbsp;3점 이하 &nbsp;</i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                    </span>
                                    </label>
                                </div>
                                <div class="radio-inline mb-0">
                                    <input type="radio" id="s4" name="starCheck" class="star" value="2">
                                    <label for="s4">
                                    <span class="ratings d-flex align-items-center">
                                        <i>&nbsp;2점 이하 &nbsp;</i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                    </span>
                                    </label>
                                </div>
                                <div class="radio-inline mb-0">
                                    <input type="radio" id="s5" name="starCheck" class="star" value="1">
                                    <label for="s5">
                                    <span class="ratings d-flex align-items-center">
                                        <i>&nbsp;1점 이하 &nbsp;</i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                    </span>
                                    </label>
                                </div>
                            </div>
                        </div><!-- end sidebar-widget -->
                        <div class="sidebar-widget">
                            <h3 class="title stroke-shape">지역</h3>
                            <div class="sidebar-category">
                                <ul class="nav flex-column">

                                    <th:block th:each="parentRegion : ${parentRegions}">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                           role="button" aria-expanded="false" th:text="${parentRegion.region.value}">서울</a>

                                        <ul class="dropdown-menu">
                                            <th:block th:each="childRegion, i : ${parentRegion.childRegions}">
                                                <li><a th:href="|javascript:void(0)|" class="dropdown-item"href="#"
                                                       th:onclick="searchRegion([[${childRegion.regionNum}]])" th:text="${childRegion.region.value}">관악구</a></li>
                                            </th:block>
                                        </ul>
                                    </li>
                                    </th:block>
                                </ul>

                            </div>
                        </div><!-- end sidebar-widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col-lg-4 -->
                <!-- 리스트 목록 시작 -->
                <input type="hidden" id="cateName" th:value="${categoryName}">
                <div class="col-lg-8" id="ht">

                </div><!-- end col-lg-8 -->
                <!-- 여기서 끝남ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
            </div><!-- end row -->
<!--            <a th:href="|#anchor${size-5}|" id="accomAnchor"></a>-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-box mt-3 text-center">

                            <button type="button" class="theme-btn" id="loadMore"><i class="la la-refresh mr-1"></i>Load More</button>

                    </div><!-- end btn-box -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end card-area -->
    <!-- ================================
        END CARD AREA
    ================================= -->

    <div class="section-block"></div>







    <!-- ================================
           START FOOTER AREA
    ================================= -->
    <!-- ================================
           START FOOTER AREA
    ================================= -->

    <!-- ================================
        START CTA AREA
    ================================= -->
    <th:block th:replace="fragments/bottom-bar::bottom-bar"></th:block>
    <!-- ================================
        END CTA AREA
    ================================= -->
    <!-- start back-to-top -->
    <div id="back-to-top">
        <i class="la la-angle-up" title="Go top"></i>
    </div>
    <!-- end back-to-top -->

    <!-- 회원가입 모달 -->
    <th:block th:replace="fragments/signUp::signUp"></th:block>


    <!-- end modal-shared -->
    <!-- 로그인 모달 -->
    <th:block th:replace="fragments/signIn::signIn"></th:block>


    <!-- Template JS Files -->
    <!--<script src="js/jquery-3.4.1.min.js"></script>-->
    <!--<script src="js/jquery-ui.js"></script>-->
    <!--<script src="js/popper.min.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <!--<script src="js/bootstrap-select.min.js"></script>-->
    <!--<script src="js/moment.min.js"></script>-->
    <!--<script src="js/daterangepicker.js"></script>-->
    <!--<script src="js/owl.carousel.min.js"></script>-->
    <!--<script src="js/jquery.fancybox.min.js"></script>-->
    <!--<script src="js/jquery.countTo.min.js"></script>-->
    <!--<script src="js/animated-headline.js"></script>-->
    <!--<script src="js/jquery.ripples-min.js"></script>-->
    <!--<script src="js/quantity-input.js"></script>-->
    <!--<script src="js/main.js"></script>-->
    <!--</body>-->
    <!--</html>-->
    <script>

        $(document).ready(function (){

            load();

        });

        let sortValue = $("#sort").val() + "/";
        let category_name = $("#cateName").val();
        let listLow = "";
        let listData = "";
        let keyword = "";
        let priceRange = '1만원 - 50만원';
        let regionNum = null;
        let accomRating = "";


        const low = function (result){

            let accom = result.content;

            let newlow = "";
            for (i = 0; i < accom.length; i++) {

                newlow += `<div class="card-item card-item-list">`
                newlow += `<div class="card-img" id="anchor${i.count}">`
                newlow += `<a class="d-block" href="javascript:void(0)" onclick="accomSingle(${accom[i].accomNum})">`
                newlow += `<img src="/data/images/${accom[i].accommodationImage.accomOriginFilename}" alt="hotel-img">`
                newlow += `</a>`
                newlow += `<a href="javascript:void(0)" onclick="saveWish(${accom[i].accomNum})">`
                newlow += `<div class="add-to-wishlist icon-element" data-toggle="tooltip" data-placement="top" title="Wishlist" id="wishList">`
                newlow += `<i class="la la-heart-o"></i>`
                newlow += `</div>`
                newlow += `</a>`
                newlow += `</div>`
                newlow += `<div class="card-body">`
                newlow += `<h3 class="card-title" ><a href="javascript:void(0)" onclick="accomSingle(${accom[i].accomNum})">${accom[i].accomName}</a></h3>`
                newlow += `<p class="card-meta">${accom[i].accomAddress}</p>`
                newlow += `<div class="card-rating">`
                newlow += `<span class="badge text-white">${accom[i].accomRating}</span>`
                newlow += `<span class="review__text">평균</span>&nbsp;`
                newlow += `<span class="rating__text">${accom[i].totalReviewNum}개의&nbsp;리뷰</span>`
                newlow += `</div>`
                newlow += `<div class="card-price d-flex align-items-center justify-content-between">`
                newlow += `<p>`
                newlow += `<span class="price__from">최소 가격 :</span>`
                newlow += `<span class="price__num">${accom[i].lowPrice}원~</span>`
                newlow += `</p>`
                newlow += `<a href="javascript:void(0)" onclick="accomSingle(${accom[i].accomNum})" class="btn-text" >방 정보<i class="la la-angle-right"></i></a>`
                newlow += `</div>`
                newlow += `</div>`
                newlow += `</div>`
            }
            return newlow;
        }

        function accomSingle(accomNum){
            $("#hiddenNum").attr("value",accomNum);
            var searchForm = document.getElementById("searchForm")
            searchForm.action = '/hotel-single?'

            searchForm.submit();

        }

        //평점에 따른 리스트를 가져오는 함수
        $(".star").on("change",function (){

            let accomStar = [];

            $(".star").each(function (index){
                let starChecked = $("#s" + (index + 1)).is(":checked");

                if(starChecked){
                    accomStar.push($("#s" + (index + 1)).val());
                }
            });
            accomRating = accomStar.join();

            $.ajax({
                url: '/rest/accom/' + sortValue + category_name +
                    '?priceRange=' + priceRange + '&keyword=' + keyword +
                    '&regionNo=' + regionNum + '&accomRating=' + accomRating,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
            }).done(function(result){

                listLow = low(result);
                listData = result;

                document.getElementById("ht").innerHTML = listLow;

            }).fail(function(error){
                alert(JSON.stringify(error));
            });


        })


        //유저가 검색어에 따른 검색결과를 보고싶지 않아 검색창을 지울때 발생하는 이벤트
        $("#keyword").on("change",function(){
            keyword = $("#keyword").val();

        })

        //키워드 이름검색을 눌렀을때 실행되는 함수
       $("#keyword_Btn").on("click", function (){

          /** 이름으로 검색했을떄는 지역이 아닌 이름검색결과만 보이게 지역을 초기화 **/
          regionNum = null;
          keyword = $("#keyword").val();

           $.ajax({
               url: '/rest/accom/' + sortValue + category_name + '?keyword=' + keyword + '&priceRange=' + priceRange + '&accomRating=' + accomRating,
               type: 'GET',
               contentType: 'application/json; charset=utf-8',
           }).done(function(result){

               listLow = low(result);
               listData = result;


               document.getElementById("ht").innerHTML = listLow;

           }).fail(function(error){
               alert(JSON.stringify(error));
           });

       })

        //가격 검색을 적용했을때 실행되는 함수
        $("#price_Btn").on("click", function (){


            priceRange = $("#amount2").val();


            $.ajax({
                url: '/rest/accom/' + sortValue + category_name + '?keyword=' + keyword + '&priceRange=' + priceRange + "&regionNo=" + regionNum + '&accomRating=' + accomRating,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
            }).done(function(result){

                listLow = low(result);
                listData = result;


                document.getElementById("ht").innerHTML = listLow;

            }).fail(function(error){
                alert(JSON.stringify(error));
            });

        })

        //지역에따른 리스트 조회 함수
        function searchRegion(regionNo) {

            regionNum = regionNo;

            $.ajax({
                url: '/rest/accom/' + sortValue + category_name + "?priceRange=" + priceRange + "&keyword=" + keyword + "&regionNo=" + regionNo + '&accomRating=' + accomRating,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
            }).done(function(result){

                listLow = low(result);
                listData = result;

                document.getElementById("ht").innerHTML = listLow;

            }).fail(function(error){
                alert(JSON.stringify(error));
            });

        }

        //높은순 낮은순 조회에 대한 정렬 함수
       $("#sort").on("change", function(){

           sortValue = $("#sort").val() + "/";

            $.ajax({
                url: '/rest/accom/' + sortValue + category_name + "?priceRange=" + priceRange + "&regionNo=" + regionNum + '&accomRating=' + accomRating,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
            }).done(function(result){

                listLow = low(result);
                listData = result;
                document.getElementById("ht").innerHTML = listLow;

            }).fail(function(error){
                alert(JSON.stringify(error));
            });

        });
        //위시리스트 함수
        function saveWish(accomNum){

            $.ajax({
                url: '/rest/wish/' + accomNum,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
            }).done(function(result){

                if(result){
                    alert("위시리스트에서 삭제하였습니다.");

                } else {
                    alert("위시리스트에 저장하였습니다.");
                }

            }).fail(function(error){
                alert(JSON.stringify(error));
            });
        }


        //페이지가 로드될때 리스트 가져오는 함수
      const load = function () {


          let category_name = $("#cateName").val();
          $.ajax({
              url: '/rest/accom/' + category_name + '?priceRange=' + priceRange,
              type: 'GET',
              contentType: 'application/json; charset=utf-8',
          }).done(function (result) {

            listLow = low(result);
            listData = result;

            document.getElementById("ht").innerHTML = listLow;

          }).fail(function (error) {
              alert(JSON.stringify(error));
          });

            //더보기 함수
          $("#loadMore").click(function (){

              let category_name = $("#cateName").val();
              $.ajax({
                  url: '/rest/accom/' + sortValue  + category_name + '?keyword=' + keyword + "&regionNo=" + regionNum + '&priceRange=' + priceRange + '&accomRating=' + accomRating + '&size=' + (listData.size+5),
                  type: 'GET',
                  data: listData,
                  contentType: 'application/json; charset=utf-8',
              }).done(function (result) {

                  listLow = low(result);
                  listData = result;

                  document.getElementById("ht").innerHTML = listLow;

              }).fail(function (error) {
                  alert(JSON.stringify(error));
              });

          });



      }
    </script>
</th:block>

</html>