<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<th:block layout:fragment="content">

    <!-- ================================
        START BREADCRUMB AREA
    ================================= -->

    <section class="breadcrumb-area bread-bg-7" th:style="|background-image: url(@{data/images/{originFileName}(originFileName=${accom.accomOriginFileName})})|">
        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-btn">
                            <a class="d-none"
                               data-fancybox="hotel-single-main-gallery"
                               data-src="/images/img2.jpg"
                               data-caption="Showing image - 02"
                               data-speed="700"></a>
                            <a class="d-none"
                               data-fancybox="hotel-single-main-gallery"
                               data-src="/images/img3.jpg"
                               data-caption="Showing image - 03"
                               data-speed="700"></a>
                            <a class="d-none"
                               data-fancybox="hotel-single-main-gallery"
                               data-src="/images/img4.jpg"
                               data-caption="Showing image - 04"
                               data-speed="700"></a>
                        </div><!-- end breadcrumb-btn -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end breadcrumb-wrap -->
    </section><!-- end breadcrumb-area -->
    <!-- ================================
        END BREADCRUMB AREA
    ================================= -->

    <!-- ================================
        START TOUR DETAIL AREA
    ================================= -->
    <section class="tour-detail-area padding-bottom-90px">
        <div class="single-content-navbar-wrap menu section-bg" id="single-content-navbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-content-nav" id="single-content-nav">
                            <ul>
                                <li><a data-scroll="availability" href="#availability" class="scroll-link">객실 선택</a>
                                </li>
                                <li><a data-scroll="amenities" href="#amenities" class="scroll-link">숙소 정보</a></li>
                                <li><a data-scroll="faq" href="#faq" class="scroll-link">자주 묻는 질문</a></li>
                                <li><a data-scroll="location-map" href="#location-map" class="scroll-link">위치</a></li>
                                <li><a data-scroll="reviews" href="#reviews" class="scroll-link">후기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end single-content-navbar-wrap -->
        <!-- 호텔 상세 -->
        <div class="single-content-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single-content-wrap padding-top-60px">
                            <div class="page-scroll">
                                <div class="single-content-item pb-4">
                                    <h3 class="title font-size-26" th:text="${accom.accomName}" >Hilton Hotel and
                                        Resorts</h3>
                                    <div class="d-flex align-items-center pt-2">
                                        <p class="mr-2" th:text="${accom.accomAddress}">Boston, MA, USA</p>
                                        <p>
                                            <span class="badge badge-warning text-white font-size-16"
                                                  th:text="${accom.accomRating}">4.7</span>&nbsp;
                                            <span th:text="|(${accom.totalReviewNum}개의 리뷰)|">(4,209 Reviews)</span>
                                        </p>
                                    </div>
                                </div><!-- end single-content-item -->
                                <div class="section-block"></div>
                            </div><!-- end description -->
                            <div id="availability" class="page-scroll">
                                <div class="single-content-item padding-top-40px padding-bottom-30px">
                                    <h3 class="title font-size-20">이용가능한 객실</h3>
                                    <div class="cabin-type padding-top-30px" th:each="room : ${accom.room}">
                                        <div class="cabin-type-item seat-selection-item d-flex mb-3">
                                            <div class="cabin-type-img flex-shrink-0" >
                                                <a th:href="|javascript:void(0)|" th:onclick="roomDetails([[*{room.roomNum}]])"><img th:src="@{/data/images/{roomImage}(roomImage=${room.roomImage})}" src="" alt=""></a>
                                  <!--  <br/>
                                    <div class="cabin-type padding-top-30px">
                                        <div class="cabin-type-item seat-selection-item d-flex mb-3" th:each="roomList : ${roomlist}">
                                            <div class="cabin-type-img flex-shrink-0" th:each="imageList : ${ilist}">
                                                <a th:href="room-details"><img th:src="|/data/images/${imageList.roomSaveFileName}|" alt=""></a> -->
                                            </div>
                                            <div class="cabin-type-detail">
                                                <h3 class="title"><a th:href="|javascript:void(0)|" th:onclick="roomDetails([[*{room.roomNum}]])" th:text="${room.roomName}">Standard Family room</a></h3>
                                                <div class="row padding-top-20px">
                                                    <div class="col-lg-6 responsive-column">
                                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-2">
                                                                <i class="la la-check"></i>
                                                            </div>
                                                            <div class="single-feature-titles">
                                                               <!-- <h3 class="title font-size-15 font-weight-medium" th:text="|최대 ${room.defaultGuest}인 가능|">2 -->
                                                                <h3 class="title font-size-15 font-weight-medium" th:text="| 최대 ${roomList.maxGuest}인 이용 가능|">2
                                                                    Single beds</h3>
                                                            </div>
                                                        </div>
                                                    </div><!-- end col-lg-6 -->
                                                </div><!-- end row -->
                                            </div>
                                            <div class="cabin-price">
                                                <p class="text-uppercase font-size-14">1박<strong
                                                        class="mt-n1 text-black font-size-18 font-weight-black d-block" th:text="|${room.price}원|">$121</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div><!-- end cabin-type-item -->
                                </div><!-- end cabin-type -->
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                        </div><!-- end location-map -->
                        <div id="amenities" class="page-scroll" >
                            <div class="single-content-item padding-top-40px padding-bottom-20px">
                                <h3 class="title font-size-20">편의 시설</h3>
                                <div class="amenities-feature-item pt-4">
                                    <div class="row">
                                        <div class="col-lg-4 responsive-column" >
                                            <div class="single-tour-feature d-flex align-items-center mb-3" th:each="fac : ${accom.accomViewFacilities}">
                                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                    <i class="fa-duotone fa-tv-retro"></i>
                                                </div>
                                                <div class="single-feature-titles">
                                                    <h3 class="title font-size-15 font-weight-medium" th:text="${fac.facilities.facility.krName}">WI-FI</h3>
                                                </div>
                                            </div><!-- end single-tour-feature -->
                                        </div><!-- end col-lg-4 -->
                                    </div>
                                </div>
                                <div id="faq" class="page-scroll">
                                    <div class="single-content-item padding-top-40px padding-bottom-40px">
                                        <h3 class="title font-size-20">자주 묻는 질문</h3>
                                        <div class="accordion accordion-item padding-top-30px" id="accordionExample2">
                                            <div class="card">
                                                <div class="card-header" id="faqHeadingFour">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link d-flex align-items-center justify-content-end flex-row-reverse font-size-16" type="button" data-toggle="collapse" data-target="#faqCollapseFour" aria-expanded="true" aria-controls="faqCollapseFour">
                                                            <span class="ml-3">예약이 수락 또는 확인되었는지 어떻게 알 수 있습니까?</span>
                                                            <i class="la la-minus"></i>
                                                            <i class="la la-plus"></i>
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="faqCollapseFour" class="collapse show" aria-labelledby="faqHeadingFour" data-parent="#accordionExample2">
                                                    <div class="card-body d-flex">
                                                        <p>예약 확인은 마이페이지 > 예약확인에 가시면 확인 가능합니다 </p>
                                                    </div>
                                                </div>
                                            </div><!-- end card -->
                                            <div class="card">
                                                <div class="card-header" id="faqHeadingFive">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link d-flex align-items-center justify-content-end flex-row-reverse font-size-16" type="button" data-toggle="collapse" data-target="#faqCollapseFive" aria-expanded="false" aria-controls="faqCollapseFive">
                                                            <span class="ml-3">일정 변경이 가능할까요?</span>
                                                            <i class="la la-minus"></i>
                                                            <i class="la la-plus"></i>
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="faqCollapseFive" class="collapse" aria-labelledby="faqHeadingFive" data-parent="#accordionExample2">
                                                    <div class="card-body d-flex">
                                                        <p>일정 변경은 불가합니다.


                                                            예약취소와 동일하게 취소 및 환불 규정에 따라 처리되므로 예약취소가 가능한 기간에는 예약 취소 후 재결제하셔서 이용 부탁드립니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div><!-- end card -->
                                            <div class="card">
                                                <div class="card-header" id="faqHeadingSix">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link d-flex align-items-center justify-content-end flex-row-reverse font-size-16" type="button" data-toggle="collapse" data-target="#faqCollapseSix" aria-expanded="false" aria-controls="faqCollapseSix">
                                                            <span class="ml-3">파손이 발생하면 어떻게 하나요?</span>
                                                            <i class="la la-minus"></i>
                                                            <i class="la la-plus"></i>
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="faqCollapseSix" class="collapse" aria-labelledby="faqHeadingSix" data-parent="#accordionExample2">
                                                    <div class="card-body d-flex">
                                                        <p>파손이 발생하면 현장에서 호스트와 함께 확인하시고 사진을 반드시 찍어주세요.



                                                            호스트가 수리 견적을 전달해 드리면 배상 절차를 진행하여 주시기 바랍니다.</p>
                                                    </div>
                                                </div>
                                            </div><!-- end card -->
                                            <div class="card">
                                                <div class="card-header" id="faqHeadingSeven">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link d-flex align-items-center justify-content-end flex-row-reverse font-size-16" type="button" data-toggle="collapse" data-target="#faqCollapseSeven" aria-expanded="false" aria-controls="faqCollapseSeven">
                                                            <span class="ml-3">음식물 반입이 가능한가요?</span>
                                                            <i class="la la-minus"></i>
                                                            <i class="la la-plus"></i>
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="faqCollapseSeven" class="collapse" aria-labelledby="faqHeadingSeven" data-parent="#accordionExample2">
                                                    <div class="card-body d-flex">
                                                        <p>이용하려는 공간에 따라 다릅니다. 공간 설명에서 취식 가능 여부를 확인하시거나, 호스트에게 문의 바랍니다.</p>
                                                    </div>
                                                </div>
                                            </div><!-- end card -->
                                        </div>
                                    </div><!-- end single-content-item -->
                                    <div class="section-block"></div>
                                </div><!-- end faq -->
                            </div>

                            <!-- 위치 -->
                            <div id="location-map" class="page-scroll">
                                <div class="single-content-item padding-top-40px padding-bottom-40px">
                                    <h3 class="title font-size-20">위치</h3>
                                    <div class="map-container padding-top-30px">
                                        <div id="map"></div>
                                    </div><!-- end map-container -->
                                </div><!-- end single-content-item -->
                                <div class="section-block"></div>
                            </div><!-- end location-map -->
                            <!-- 후기 리스트 -->
                            <div id="reviews" class="page-scroll">
                                <div class="single-content-item padding-top-40px padding-bottom-40px">
                                    <h2 class="title font-size-20">후기</h2>
                                </div><!-- end single-content-item -->
                            </div><!-- end reviews -->
                            <div class="review-box">
                                <div class="single-content-item padding-top-40px">
                                    <h3 class="title font-size-20" th:text="|총 ${accommodation.totalReviewNum}개의 리뷰|"></h3>
                                    <div class="comments-list padding-top-50px" th:each=" reviewlists: ${reviewlist}">
                                        <div class="comment">
                                            <div class="comment-avatar">
                                                <img class="avatar__img" alt="" src="/images/team8.jpg">
                                            </div>
                                            <div class="comment-body">
                                                <div class="meta-data">
                                                    <h3 class="comment__author" th:text="${reviewlists.accomMember}">멤버 이름</h3>
                                                    <div class="meta-data-inner d-flex">
                                                    <span class="ratings d-flex align-items-center mr-1" th:text="|${reviewlists.accomReviewRating} /|">
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                        <i class="la la-star"></i>
                                                    </span>
                                                        <p class="comment__date" th:text="${reviewlists.accomReviewCreate}">2022.10.03</p>
                                                    </div>
                                                </div>
                                                <p class="comment-content" th:text="${reviewlists.accomReviewContent}">
                                                    후기 내용
                                                </p>
<!--                                                <div class="comment-reply d-flex align-items-center justify-content-between">-->
<!--                                                    <a class="theme-btn" href="#" data-toggle="modal"-->
<!--                                                       data-target="#replayPopupForm">-->
<!--                                                        <span class="la la-mail-reply mr-1">답글</span>-->
<!--                                                    </a>-->
<!--                                                </div>-->
                                            </div>
                                        </div><!-- end comments -->
                                    </div><!-- end comments-list -->
                                </div><!-- end single-content-item -->
                            </div><!-- end review-box -->
<!--                                    &lt;!&ndash; 후기 작성 &ndash;&gt;-->
<!--                                    <div class="comment-forum padding-top-40px">-->
<!--                                        <div class="form-box">-->
<!--                                            <div class="form-title-wrap">-->
<!--                                                <h3 class="title">후기 작성</h3>-->
<!--                                            </div>&lt;!&ndash; form-title-wrap &ndash;&gt;-->
<!--                                            <div class="form-content">-->
<!--                                                <div class="contact-form-action">-->
<!--                                                    <form method="post">-->
<!--                                                        <div class="form-content">-->
<!--                                                            <div class="rate-option p-2">-->
<!--                                                                <div class="row">-->
<!--                                                                    <div class="col-lg-4 responsive-column">-->
<!--                                                                        <div class="rate-option-item">-->
<!--                                                                            <label>평점</label>-->
<!--                                                                            <div class="rate-stars-option">-->
<!--                                                                                <input type="checkbox" id="lst1" value="1">-->
<!--                                                                                <label for="lst1"></label>-->
<!--                                                                                <input type="checkbox" id="lst2" value="2">-->
<!--                                                                                <label for="lst2"></label>-->
<!--                                                                                <input type="checkbox" id="lst3" value="3">-->
<!--                                                                                <label for="lst3"></label>-->
<!--                                                                                <input type="checkbox" id="lst4" value="4">-->
<!--                                                                                <label for="lst4"></label>-->
<!--                                                                                <input type="checkbox" id="lst5" value="5">-->
<!--                                                                                <label for="lst5"></label>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>&lt;!&ndash; col-lg-4 &ndash;&gt;-->
<!--                                                                </div>-->
<!--                                                                <div class="row">-->
<!--                                                                    <div class="col-lg-6 responsive-column">-->
<!--                                                                        <div class="input-box">-->
<!--                                                                            <label class="label-text">성함</label>-->
<!--                                                                            <div class="form-group">-->
<!--                                                                                <span class="la la-user form-icon"></span>-->
<!--                                                                                <input class="form-control" type="text"-->
<!--                                                                                       name="text" placeholder="투숙객 성함">-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                    <div class="col-lg-12">-->
<!--                                                                        <div class="input-box">-->
<!--                                                                            <label class="label-text">내용</label>-->
<!--                                                                            <div class="form-group">-->
<!--                                                                                <span class="la la-pencil form-icon"></span>-->
<!--                                                                                <textarea class="message-control form-control"-->
<!--                                                                                          name="message"-->
<!--                                                                                          placeholder="후기 내용을 작성해주세요"></textarea>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                    <div class="col-lg-12">-->
<!--                                                                        <div class="btn-box">-->
<!--                                                                            <button type="button"-->
<!--                                                                                    class="theme-btn hwt-btn-gray">작성하기-->
<!--                                                                            </button>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </form>-->
<!--                                                </div>&lt;!&ndash; end contact-form-action &ndash;&gt;-->
<!--                                            </div>&lt;!&ndash; end form-content &ndash;&gt;-->
<!--                                        </div>&lt;!&ndash; end form-box &ndash;&gt;-->
<!--                                    </div>&lt;!&ndash; end comment-forum &ndash;&gt;-->

                        </div><!-- end single-content-wrap -->
                    </div><!-- end col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="sidebar single-content-sidebar mb-0">
                            <form th:action="@{/hotel-single}" id="searchForm" method="get" th:object="${searchForm}" >
                                <input type="hidden" name="accomNum" th:value="${accom.accomNum}" >
                                <input type="hidden" id="hiddenNum" name="roomNum" value="">
                                <div class="sidebar-widget single-content-widget">
                                    <div class="sidebar-widget-item">
                                        <div class="sidebar-book-title-wrap mb-3">
                                            <p><span class="text-form"></span><span
                                                    class="text-value hwt-amounts mr-1">Room 검색</span></p>
                                            <p class="font-size-14 line-height-24">Room 예약 날짜 조회</p>
                                        </div>
                                    </div><!-- end sidebar-widget-item -->
                                    <div class="sidebar-widget-item">
                                        <div class="contact-form-action">
                                            <div class="input-box">
                                                <label class="label-text">날짜</label>
                                                <div class="form-group">
                                                    <span class="la la-calendar form-icon"></span>
                                                    <input class="date-picker-multiple form-control" type="text"
                                                           name="daterange" readonly th:field="*{daterange}">
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end sidebar-widget-item -->
                                    <div class="sidebar-widget-item">
                                        <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                            <label class="font-size-16">성인</label>
                                            <div class="qtyBtn d-flex align-items-center">
                                                <div class="qtyDec"><i class="la la-minus"></i></div>
                                                <input type="text" th:field="*{adult_number}" >
                                                <div class="qtyInc"><i class="la la-plus"></i></div>
                                            </div>
                                        </div><!-- end qty-box -->
                                        <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                            <label class="font-size-16">어린이</label>
                                            <div class="qtyBtn d-flex align-items-center">
                                                <div class="qtyDec"><i class="la la-minus"></i></div>
                                                <input type="text" th:field="*{child_number}" >
                                                <div class="qtyInc"><i class="la la-plus"></i></div>
                                            </div>
                                        </div><!-- end qty-box -->
                                    </div><!-- end sidebar-widget-item -->
                                    <div class="btn-box pt-2">
                                        <button
                                                class="theme-btn hwt-btn-gray text-center w-100 theme-btn-transparent"><i
                                                class="la la-calendar mr-2"></i>예약 날짜 조회</button>
                                        <hr/>
                                        <a href="/user-dashboard-wishlist"

                                           class="theme-btn hwt-btn-gray text-center w-100 theme-btn-transparent"><i
                                                class="la la-heart-o mr-2"></i>찜 추가하기</a>
                                    </div>
                                </div><!-- end sidebar-widget -->
                            </form>
                            <div class="sidebar-widget single-content-widget">
                                <h3 class="title stroke-shape">이 숙소를 추천하는 이유</h3>
                                <div class="sidebar-list">
                                    <ul class="list-items">
                                        <li><i class="la la-dollar icon-element hwt-btn-gray mr-2"></i>번거롭지 않은 최상의 가격 보장
                                        </li>
                                        <li><i class="la la-microphone icon-element hwt-btn-gray mr-2"></i>연중무휴 24시간 고객
                                            관리 가능
                                        </li>
                                        <li><i class="la la-thumbs-up icon-element hwt-btn-gray mr-2"></i>직접 선택한 여행 및 활동
                                        </li>
                                        <li><i class="la la-file-text icon-element hwt-btn-gray mr-2"></i>무료 여행 보험</li>
                                    </ul>
                                </div><!-- end sidebar-list -->
                            </div><!-- end sidebar-widget -->
                            <div class="sidebar-widget single-content-widget">
                                <h3 class="title stroke-shape">문의</h3>
                                <p class="font-size-14 line-height-24">주저하지 마시고 전화하세요.</p>
                                <div class="sidebar-list pt-3">
                                    <ul class="list-items">
                                        <li><i class="la la-phone icon-element hwt-btn-gray mr-2"></i><a href="#">+ 61
                                            23 8093 3400</a></li>
                                        <li><i class="la la-envelope icon-element hwt-btn-gray mr-2"></i><a
                                                href="pheonix@itwill.com">pheonix@itwill.com</a></li>
                                    </ul>
                                </div><!-- end sidebar-list -->
                            </div><!-- end sidebar-widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end single-content-box -->
    </section><!-- end tour-detail-area -->
    <!-- ================================
        END TOUR DETAIL AREA
    ================================= -->

    <div class="section-block"></div>

    <!-- ================================
        END RELATE TOUR AREA
    ================================= -->

    <!-- ================================
        START CTA AREA
    ================================= -->
    <section class="cta-area cta-bg-2 bg-fixed padding-top-60px padding-bottom-60px breadcrumb-board">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 hwt-col-left">
                    <div class="section-heading">
                        <h2 class="sec__title font-size-30 text-white">Contact Us</h2>
                        <p class="sec__desc text-white pt-1 hwt-font-content">오늘어때에 대해 궁금한 점이 있으신가요?</p>
                    </div><!-- end section-heading -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5 hwt-col-right">
                    <div class="btn-box btn--box text-right">
                        <a href="contact" class="theme-btn border-0 hwt-btn-white">고객센터</a>
                    </div><!-- end btn-box -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end cta-area -->
    <!-- ================================
        END CTA AREA
    ================================= -->

    <!-- start back-to-top -->
    <div id="back-to-top">
        <i class="la la-angle-up" title="Go top"></i>
    </div>
    <!-- end back-to-top -->

    <!-- end modal-shared -->
    <!-- 회원가입 모달 -->
    <th:block th:replace="fragments/signUp::signUp"></th:block>


    <!-- end modal-shared -->
    <!-- 로그인 모달 -->
    <th:block th:replace="fragments/signIn::signIn"></th:block>


    <!-- end modal-shared -->
    <div class="modal-popup">
        <div class="modal fade" id="replayPopupForm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title title" id="exampleModalLongTitle3">Replay to review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="contact-form-action">
                            <form method="post">
                                <div class="input-box">
                                    <div class="form-group mb-0">
                                        <i class="la la-pencil form-icon"></i>
                                        <textarea class="message-control form-control" name="message"
                                                  placeholder="Write message here..."></textarea>
                                    </div>
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                    </div>
                    <div class="modal-footer border-top-0 pt-0">
                        <button type="button" class="btn font-weight-bold font-size-15 color-text-2 mr-2"
                                data-dismiss="modal">Cancel
                        </button>
                        <button type="button" class="theme-btn theme-btn-small">Replay</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end modal-popup -->

    <!-- end modal-shared -->
    <div class="modal-popup">
        <div class="modal fade" id="sharePopupForm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title title" id="exampleModalLongTitle4">공유하기</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="copy-to-clipboard-wrap">
                            <div class="copy-to-clipboard">
                                <div class="contact-form-action d-flex align-items-center">
                                    <span class="text-success-message">성공!</span>
                                    <input type="text" class="form-control copy-input"
                                           value="http://localhost:8087/home">
                                    <div class="btn-box">
                                        <button class="theme-btn theme-btn-light copy-text">Copy</button>
                                    </div>
                                </div>
                            </div><!-- end copy-to-clipboard -->
                            <ul class="social-profile text-center">
                                <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                                <li><a href="#"><i class="lab la-twitter"></i></a></li>
                                <li><a href="#"><i class="lab la-instagram"></i></a></li>
                                <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end modal-popup -->


    <!-- Template JS Files -->
    <!--<script src="js/jquery-3.4.1.min.js"></script>-->
    <!--<script src="js/jquery-ui.js"></script>-->
    <!--<script src="js/popper.min.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <!--<script src="js/bootstrap-select.min.js"></script>-->
    <!--<script src="js/moment.min.js"></script>-->
    <!--<script src="js/daterangepicker.js"></script>-->
    <!--<script src="js/owl.carousel.min.js"></script>-->
    <!--<script src="js/jquery.fancybox.min.js"></script>-->
    <!--<script src="js/jquery.countTo.min.js"></script>-->
    <!--<script src="js/animated-headline.js"></script>-->
    <!--<script src="js/jquery.ripples-min.js"></script>-->
    <!--<script src="js/quantity-input.js"></script>-->
    <!--<script src="js/copy-text-script.js"></script>-->
    <!--<script src="js/navbar-sticky.js"></script>-->
    <!--<script src="js/main.js"></script>-->
    <!--</body>-->
    <!--</html>-->
<script>
    function roomDetails(roomNum){
        $("#hiddenNum").attr("value",roomNum);
        var searchForm = document.getElementById("searchForm")
        searchForm.action = '/room-details'

        searchForm.submit();


    }
</script>

</th:block>

</html>