<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<th:block layout:fragment="content">


    <!-- ================================
    START BREADCRUMB AREA
================================= -->
    <section class="breadcrumb-area breadcrumb-board">
        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content text-center">
                            <div class="section-heading">
                                <h2 class="sec__title text-white">BOOKING DETAILS</h2>
                            </div>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end breadcrumb-wrap -->
        <div class="bread-svg-box">
            <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
        </div><!-- end bread-svg -->
    </section><!-- end breadcrumb-area -->
    <!-- ================================
        END BREADCRUMB AREA
    ================================= -->

    <section class="payment-area padding-top-100px padding-bottom-70px">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="table-form table-responsive mb-3">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr class="bg-dark">
                                <th scope="col" class="pl-5" th:text="|이용자 정보|">Product</th>
                                <th scope="col" class="text-lg-right px-5" th:text="| |">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="table-content pl-4">
                                        <p class="title">이름</p>
                                    </div>
                                </th>
                                <td>
                                    <div class="table-content px-2">
                                        <h3 class="title color-text text-lg-right" th:text="${customer.getNickname()}">$264</h3>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="table-content pl-4" th:text="|핸드폰 번호|">Subtotal</p>
                                    </div>
                                </th>
                                <td>
                                    <div class="table-content px-2">
                                        <h3 class="title color-text text-lg-right" th:text="${customer.getMemberTel()}">010-4502-0614</h3>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr class="bg-dark">
                                <th scope="col" class="pl-5" th:text="|숙소|">Product</th>
                                <th scope="col" class="text-lg-right pr-5"  th:text="|숙소가격|">Price</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="order : ${ordersDTO.getOrdersDetailDTOList()}">
                                <th scope="row">
                                    <div class="table-content product-content d-flex align-items-center">

                                        <div class="product-content">
                                            <u>
                                                <a th:href="@{/hotel-single(accomNum = ${order.getRoomNum()})}">
                                                    <h5 th:text="${order.getAccomName()}">
                                                        호텔 방 이름 </h5></a></u>
                                            <div class="product-order-wrap">
                                                <div class="product-order line-height-24 px-2">
                                                    <span class="product-order-label" th:text="${order.getRoomName()}">인원:</span>
                                                </div><!-- end product-order -->
                                                <div class="product-order line-height-24 px-2">
                                                    <span class="product-order-label" >예약 일시:</span>
                                                    <span class="product-order-value">
                                                       <span class="product-check-in" th:text="#{checkout_period(${order.getStartDate()}, ${order.getEndDate()}, ${order.getStartWeek()}, ${order.getEndWeek()}, ${order.getUsePeriod()})}">체크타임</span>
                                                    </span>
                                                </div><!-- end product-order -->
                                                <div class="product-order line-height-24 px-2">
                                                    <span class="product-order-label" th:text="#{checkout_checkTime(${order.getCheckIn()}, ${order.getCheckOut()})}">추가서비스:</span>
                                                </div><!-- end product-order -->
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <td class="text-lg-right pr-5" th:text="#{checkout_monetary_unit(${order.getPrice()})}">숙소 가격</td> <!-- 숙소 가격 필드 -->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr class="bg-dark">
                            <th scope="col" class="pl-5" th:text="|결제 금액|">Product</th>
                            <th scope="col" class="text-lg-right px-5" th:text="|금액|">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <div class="table-content pl-4">
                                    <p class="title">총 예약금액</p>
                                </div>
                            </th>
                            <td>
                                <div class="table-content px-2">
                                    <h3 class="title color-text text-lg-right" th:text="#{checkout_monetary_unit(${#numbers.formatInteger(ordersDTO.getOrdersPrice(), 0, 'COMMA')})}">$264</h3>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="table-content pl-4" th:text="#{payment_details_discount}">Subtotal</p>
                                </div>
                            </th>
                            <td>
                                <div class="table-content px-2">
                                    <h3 class="title color-text text-lg-right">-20,000원</h3>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg-light bg-opacity-25">
                                <div class="table-content pl-4">
                                    <p class="title text-color-10"  th:text="#{payment_details_total_price}">Order Total</p>
                                </div>
                            </th>
                            <td class="bg-light bg-opacity-25">
                                <div class="table-content px-2">
                                    <h3 class="title text-color-10 text-lg-right" th:text="#{checkout_monetary_unit(${#numbers.formatInteger(ordersDTO.getOrdersPrice(), 0, 'COMMA')})}">$240</h3>
                                    <input type="hidden" id="totalPrice" th:value="${ordersDTO.getOrdersPrice()}" >

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="col-lg-12">
                        <div class="section-block mt-3"></div>
                        <div class="btn-box text-center pt-4">
                            <a href="/user-dashboard-booking" class="theme-btn" th:text="#{payment_details_book_complete}">Book Complete</a>
                            <a th:style="${'cursor:pointer;'}" th:onclick="|javascript:cancelConfirm('${ordersDTO.ordersNum}')|" class="theme-btn border-0 text-white bg-7" th:text="#{payment_details_book_cancel}">Cancel your booking</a>
                            <input type="hidden" id="merchantId" th:value="${ordersDTO.getOrdersMerchantId()}" >
                        </div>
                    </div>

                </div><!-- end payment-card -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        </div><!-- end container -->
        <button style="align-items: center" onclick="cancelPay()">환불하기</button>
    </section>
    <!-- ================================
        END PAYMENT AREA
    ================================= -->

    <!-- start back-to-top -->
    <div id="back-to-top">
        <i class="la la-angle-up" title="Go top"></i>
    </div>
    <!-- end back-to-top -->

</th:block>




</html>