<!-- ================================
         END HEADER AREA
================================= -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">



<th:block layout:fragment="content">
<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area breadcrumb-board">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content text-center">
                        <div class="section-heading">
                            <h2 class="sec__title text-white">CART</h2>
                        </div>
                        <span class="arrow-blink">
                            <i class="la la-arrow-down"></i>
                        </span>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
    <div class="bread-svg-box">
        <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
    </div><!-- end bread-svg -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START CART AREA
================================= -->
<section class="cart-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-wrap">
                    <div class="table-form table-responsive mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" th:text="|숙소|">Product</th>
                                    <th scope="col" th:text="|숙소 가격|">Price</th>
                                    <th scope="col" th:text="|수량|">Quantity</th>
                                    <th scope="col" th:text="|소계|">Subtotal</th>
                                    <th scope="col" th:text="|삭제|">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <th:block th:if="${checkCart}">
                            <form action="/orders/payment" method="get" id="cartForm">
                            <tr th:each="cart:${cartList}">

                                <th scope="row">

                                    <div class="table-content product-content d-flex align-items-center">
                                        <div class="cart_info_div">

                                            <input type="checkbox" style="margin-right: 20px" class="cart_checkbox" checked="checked" name="cartNum" th:value="${cart.cartNum}">
                                            <input type="hidden" class="total_price_input" th:value="${cart.getReservePrice()}">
                                            <input type="hidden" class="count_input" value="1">
                                        </div>



                                        <a href="room-details.html" class="d-block" th:href="@{/room-details}">
                                            <img src="/images/room1.jpg" alt="" class="flex-shrink-0">
                                        </a>
                                       <div class="product-content">
                                           <a href="room-details.html" class="title" th:href="@{/room-details}"
                                              th:text="${cart.getRoomName()}">
                                           호텔 방 이름</a>
                                           <div class="product-info-wrap">
                                               <div class="product-info line-height-24">
                                                   <span class="product-info-label" th:text="|예약 일시:|">예약 일시:</span>
                                                       <span class="product-info-value">
                                                       <span class="product-check-in" th:text="${cart.getReserveUseStartDate()}">체크인 날짜</span>
                                                       <span class="product-mark">/</span>
                                                       <span class="product-check-out" th:text="${cart.getReserveUseEndDate()}">체크아웃 날짜</span>
                                                       <span class="product-nights" th:text="|(${cart.getBetweenDay()}박)|">몇박인지 </span>
                                                    </span>
                                               </div><!-- end product-info -->
                                               <div class="product-info line-height-24">
                                                   <span class="product-info-label" th:text="|인원:|">인원:</span>
                                                   <span class="product-info-adult-value" th:text="|성인 ${cart.getReserveAdultCount()}명| ">성인 명수</span>
                                                   <span class="product-info-child-value" th:text="|아동 ${cart.getReserveChildCount()}명|">아동 명수</span>
                                               </div><!-- end product-info -->
                                           </div>
                                       </div>
                                    </div>
                                </th>
                                <td th:text="|${cart.getReservePrice()}원|">숙소 가격</td> <!-- 숙소 가격 필드 -->
                                <td>
                                    1
                                </td>
                                <td th:text="|${cart.getReservePrice()}원|">가격 * 수량 = 소계</td> <!-- 소계 필드 (수량필드 조작시 자바스크립트 렌더링 필요)-->
                                <td>
                                    <div class="remove-wrap">
                                        <a th:href="|javascript:void(0)|" href="javascript:void(0)" class="btn font-size-18" th:onclick="deleteById([[${cart.getCartNum}]])" ><i class="la la-times"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </form>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <div class="section-block"></div>
                    <div class="cart-actions d-flex justify-content-between align-items-center pt-4 pb-5">
                        <div class="contact-form-action">
                            <form method="post" class="d-flex align-items-center">
                                <div class="form-group mb-0 mr-3"> <!--쿠폰 영역시작 -->
                                    <input class="form-control pl-3" type="text" name="text" placeholder="Coupon code">
                                </div>
                                <button type="button" class="theme-btn hwt-btn-gray"th:value="|쿠폰 적용|">쿠폰 적용</button>
                            </form> <!-- 쿠폰영역 끝 -->
                        </div><!-- end contact-form-action -->

                    </div>
                    <div class="row">
                        <div class="col-lg-4 ml-auto">
                            <div class="cart-totals table-form">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" th:text="|분류|">분류</th>
                                            <th scope="col" th:text="|가격|">가격</th>
                                        </tr>
                                    </thead>
                                    <th:block  th:if="${checkCart}" >
                                    <tbody>
                                            <th scope="row">
                                                <div class="table-content">
                                                    <h3 class="title" th:text="|소계:|">totalPrice</h3>
                                                </div>
                                            </th>
                                            <td class="total_price_td"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="table-content">
                                                    <h3 class="title" th:text="|합계:|"></h3>
                                                </div>
                                            </th>
                                            <td class="total_price_td"></td>
                                        </tr>
                                    </tbody>


                                    </th:block>
                                </table>
                                <div class="section-block"></div>
                                <div class="btn-box text-right pt-4">
                                    <a th:href="|javascript:void(0)|" href="checkout.html" class="theme-btn hwt-btn-gray" th:onclick="cartSubmit()">[[|결제 진행|]]</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end cart-wrap -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cart-area -->
<!-- ================================
    END CART AREA
================================= -->
    <!-- ================================
        START CTA AREA
    ================================= -->
    <section class="cta-area cta-bg-2 bg-fixed padding-top-60px padding-bottom-60px breadcrumb-board">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 hwt-col-left">
                    <div class="section-heading">
                        <h2 class="sec__title font-size-30 text-white">Contact Us</h2>
                        <p class="sec__desc text-white pt-1 hwt-font-content">오늘어때에 대해 궁금한 점이 있으신가요?</p>
                    </div><!-- end section-heading -->
                </div><!-- end col-lg-7 -->
                <div class="col-lg-5 hwt-col-right">
                    <div class="btn-box btn--box text-right">
                        <a href="contact" class="theme-btn border-0 hwt-btn-white">고객센터</a>
                    </div><!-- end btn-box -->
                </div><!-- end col-lg-5 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end cta-area -->
    <!-- ================================
        END CTA AREA
    ================================= -->
<!-- ===============================
       START FOOTER AREA
================================= -->
<!--<section class="footer-area bg-white padding-top-100px padding-bottom-30px">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-3 responsive-column">-->
<!--                <div class="footer-item">-->
<!--                    <div class="footer-logo padding-bottom-30px">-->
<!--                        <a href="/home" class="foot__logo"><img src="/images/logo.png" alt="logo"></a>-->
<!--                    </div>&lt;!&ndash; end logo &ndash;&gt;-->
<!--                    <p class="footer__desc">Morbi convallis bibendum urna ut viverra. Maecenas consequat</p>-->
<!--                    <ul class="list-items pt-3">-->
<!--                        <li>3015 Grand Ave, Coconut Grove,<br> Cerrick Way, FL 12345</li>-->
<!--                        <li>+123-456-789</li>-->
<!--                        <li><a href="#">trizen@yourwebsite.com</a></li>-->
<!--                    </ul>-->
<!--                </div>&lt;!&ndash; end footer-item &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col-lg-3 &ndash;&gt;-->
<!--            <div class="col-lg-3 responsive-column">-->
<!--                <div class="footer-item">-->
<!--                    <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">Company</h4>-->
<!--                    <ul class="list-items list&#45;&#45;items">-->
<!--                        <li><a href="about.html">About us</a></li>-->
<!--                        <li><a href="services.html">Services</a></li>-->
<!--                        <li><a href="#">Jobs</a></li>-->
<!--                        <li><a href="blog-grid.html">News</a></li>-->
<!--                        <li><a href="contact.html">Support</a></li>-->
<!--                        <li><a href="#">Advertising</a></li>-->
<!--                    </ul>-->
<!--                </div>&lt;!&ndash; end footer-item &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col-lg-3 &ndash;&gt;-->
<!--            <div class="col-lg-3 responsive-column">-->
<!--                <div class="footer-item">-->
<!--                    <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">Other Services</h4>-->
<!--                    <ul class="list-items list&#45;&#45;items">-->
<!--                        <li><a href="#">Investor Relations</a></li>-->
<!--                        <li><a href="#">Trizen.com Rewards</a></li>-->
<!--                        <li><a href="#">Partners</a></li>-->
<!--                        <li><a href="#">List My Hotel</a></li>-->
<!--                        <li><a href="#">All Hotels</a></li>-->
<!--                        <li><a href="#">TV Ads</a></li>-->
<!--                    </ul>-->
<!--                </div>&lt;!&ndash; end footer-item &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col-lg-3 &ndash;&gt;-->
<!--            <div class="col-lg-3 responsive-column">-->
<!--                <div class="footer-item">-->
<!--                    <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">Other Links</h4>-->
<!--                    <ul class="list-items list&#45;&#45;items">-->
<!--                        <li><a href="#">USA Vacation Packages</a></li>-->
<!--                        <li><a href="#">USA Flights</a></li>-->
<!--                        <li><a href="#">USA Hotels</a></li>-->
<!--                        <li><a href="#">USA Car Hire</a></li>-->
<!--                        <li><a href="#">Create an Account</a></li>-->
<!--                        <li><a href="#">Trizen Reviews</a></li>-->
<!--                    </ul>-->
<!--                </div>&lt;!&ndash; end footer-item &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col-lg-3 &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--        <div class="row align-items-center">-->
<!--            <div class="col-lg-8">-->
<!--                <div class="term-box footer-item">-->
<!--                    <ul class="list-items list&#45;&#45;items d-flex align-items-center">-->
<!--                        <li><a href="#">Terms & Conditions</a></li>-->
<!--                        <li><a href="#">Privacy Policy</a></li>-->
<!--                        <li><a href="#">Help Center</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; end col-lg-8 &ndash;&gt;-->
<!--            <div class="col-lg-4">-->
<!--                <div class="footer-social-box text-right">-->
<!--                    <ul class="social-profile">-->
<!--                        <li><a href="#"><i class="lab la-facebook-f"></i></a></li>-->
<!--                        <li><a href="#"><i class="lab la-twitter"></i></a></li>-->
<!--                        <li><a href="#"><i class="lab la-instagram"></i></a></li>-->
<!--                        <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; end col-lg-4 &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--    </div>&lt;!&ndash; end container &ndash;&gt;-->
<!--    <div class="section-block mt-4"></div>-->
<!--    <div class="container">-->
<!--        <div class="row align-items-center">-->
<!--            <div class="col-lg-7">-->
<!--                <div class="copy-right padding-top-30px">-->
<!--                    <p class="copy__desc">-->
<!--                        &copy; Copyright Trizen 2020. Made with-->
<!--                        <span class="la la-heart"></span> by <a href="https://themeforest.net/user/techydevs/portfolio">TechyDevs</a>-->
<!--                    </p>-->
<!--                </div>&lt;!&ndash; end copy-right &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col-lg-7 &ndash;&gt;-->
<!--            <div class="col-lg-5">-->
<!--                <div class="copy-right-content d-flex align-items-center justify-content-end padding-top-30px">-->
<!--                    <h3 class="title font-size-15 pr-2">We Accept</h3>-->
<!--                    <img src="/images/payment-img.png" alt="">-->
<!--                </div>&lt;!&ndash; end copy-right-content &ndash;&gt;-->
<!--            </div>&lt;!&ndash; end col-lg-5 &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--    </div>&lt;!&ndash; end container &ndash;&gt;-->
<!--</section>&lt;!&ndash; end footer-area &ndash;&gt;-->
<!-- ================================
       START FOOTER AREA
================================= -->

<!-- start back-to-top -->
<div id="back-to-top">
    <i class="la la-angle-up" title="Go top"></i>
</div>
<!-- end back-to-top -->

<!-- end modal-shared -->
<div class="modal-popup">
    <div class="modal fade" id="signupPopupForm" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title title" id="exampleModalLongTitle">회원가입</h5>
                        <p class="font-size-14">안녕하세요! 회원가입을 환영합니다.</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="la la-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="contact-form-action">
                        <form method="post" action="/member/join">
                            <div class="input-box">
                                <label class="label-text">닉네임</label>
                                <div class="form-group">
                                    <span class="la la-user form-icon"></span>
                                    <input class="form-control" type="text" name="nickname" placeholder="닉네임">
                                </div>
                            </div><!-- end input-box -->
                            <div class="input-box">
                                <label class="label-text">이메일 주소</label>
                                <div class="form-group">
                                    <span class="la la-envelope form-icon"></span>
                                    <input class="form-control" type="email" name="email" placeholder="이메일 주소">
                                </div>
                            </div><!-- end input-box -->
                            <div class="input-box">
                                <label class="label-text">패스워드</label>
                                <div class="form-group">
                                    <span class="la la-lock form-icon"></span>
                                    <input class="form-control" type="password" name="pwd" placeholder="패스워드">
                                </div>
                            </div><!-- end input-box -->
                            <!--                                    <div class="input-box">-->
                            <!--                                        <label class="label-text">패스워드 확인</label>-->
                            <!--                                        <div class="form-group">-->
                            <!--                                            <span class="la la-lock form-icon"></span>-->
                            <!--                                            <input class="form-control" type="password" name="text" placeholder="패스워드 재입력">-->
                            <!--                                        </div>-->
                            <!--                                    </div>&lt;!&ndash; end input-box &ndash;&gt;-->
                            <div class="btn-box pt-3 pb-4">
                                <button type="submit" class="theme-btn w-100">회원가입</button>
                            </div>
                            <div class="action-box text-center">
                                <p class="font-size-14">SNS를 통한 회원가입</p>
                                <ul class="social-profile py-3">
                                    <li><a href="#" class="bg-5 text-white"><i class="lab la-facebook-f"></i></a></li>
                                    <li><a href="#" class="bg-6 text-white"><i class="lab la-twitter"></i></a></li>
                                    <li><a href="#" class="bg-7 text-white"><i class="lab la-instagram"></i></a></li>
                                    <li><a href="#" class="bg-5 text-white"><i class="lab la-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </form>
                    </div><!-- end contact-form-action -->
                </div>
            </div>
        </div>
    </div>
</div><!-- end modal-popup -->

    <!-- end modal-shared -->
    <div class="modal-popup">
        <div class="modal fade" id="loginPopupForm" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <h5 class="modal-title title" id="exampleModalLongTitle2">로그인</h5>
                            <p class="font-size-14">안녕하세요! 로그인을 환영합니다.</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="contact-form-action">
                            <form method="post" action="/loginProc">
                                <div class="input-box">
                                    <label class="label-text">이메일</label>
                                    <div class="form-group">
                                        <span class="la la-envelope form-icon"></span>
                                        <input class="form-control" type="email" name="email" id="email" placeholder="이메일 주소">
                                    </div>
                                </div><!-- end input-box -->
                                <div class="input-box">
                                    <label class="label-text">패스워드</label>
                                    <div class="form-group mb-2">
                                        <span class="la la-lock form-icon"></span>
                                        <input class="form-control" type="password" name="pwd" id="pwd" placeholder="패스워드">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <!--                                    <div class="custom-checkbox mb-0">-->
                                        <!--                                        <input type="checkbox" id="rememberchb">-->
                                        <!--                                        <label for="rememberchb">Remember me</label>-->
                                        <!--                                    </div>-->
                                        <p class="forgot-password">
                                            <a href="recover">비밀번호를 잊으셨나요?</a>
                                        </p>
                                    </div>
                                </div><!-- end input-box -->
                                <div class="btn-box pt-3 pb-4">
                                    <button type="submit" id="login" class="theme-btn w-100">로그인</button>
                                </div>
                                <div class="action-box text-center">
                                    <p class="font-size-14">SNS를 통한 로그인</p>
                                    <ul class="social-profile py-3">
                                        <li><a href="#" class="bg-5 text-white"><i class="lab la-facebook-f"></i></a></li>
                                        <li><a href="#" class="bg-6 text-white"><i class="lab la-twitter"></i></a></li>
                                        <li><a href="#" class="bg-7 text-white"><i class="lab la-instagram"></i></a></li>
                                        <li><a href="#" class="bg-5 text-white"><i class="lab la-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                </div>
            </div>
        </div>
    </div>
</div><!-- end modal-popup -->

<!-- end modal-shared -->
<div class="modal-popup">
    <div class="modal fade" id="modifyPopupForm" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title title" id="exampleModalLongTitle3">Book Your Stay</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="la la-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="contact-form-action">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="input-box">
                                        <label class="label-text">Check in</label>
                                        <div class="form-group">
                                            <span class="la la-calendar form-icon"></span>
                                            <input class="date-picker-single form-control" type="text" name="daterange-single" readonly>
                                        </div>
                                    </div>
                                </div><!-- end col-lg-6 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="input-box">
                                        <label class="label-text">Check out</label>
                                        <div class="form-group">
                                            <span class="la la-calendar form-icon"></span>
                                            <input class="date-picker-single form-control" type="text" name="daterange-single" readonly>
                                        </div>
                                    </div>
                                </div><!-- end col-lg-6 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="input-box">
                                        <label class="label-text">Adults</label>
                                        <div class="form-group">
                                            <div class="select-contain w-auto">
                                                <select class="select-contain-select">
                                                    <option value="0">Select Adult</option>
                                                    <option value="1" selected>1 Adult</option>
                                                    <option value="2">2 Adults</option>
                                                    <option value="3">3 Adults</option>
                                                    <option value="4">4 Adults</option>
                                                    <option value="5">5 Adults</option>
                                                    <option value="6">6 Adults</option>
                                                    <option value="7">7 Adults</option>
                                                    <option value="8">8 Adults</option>
                                                    <option value="9">9 Adults</option>
                                                    <option value="10">10 Adults</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col-lg-6 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="input-box">
                                        <label class="label-text">Children</label>
                                        <div class="form-group">
                                            <div class="select-contain w-auto">
                                                <select class="select-contain-select">
                                                    <option value="0">Select Children</option>
                                                    <option value="1" selected>1 Children</option>
                                                    <option value="2">2 Children</option>
                                                    <option value="3">3 Children</option>
                                                    <option value="4">4 Children</option>
                                                    <option value="5">5 Children</option>
                                                    <option value="6">6 Children</option>
                                                    <option value="7">7 Children</option>
                                                    <option value="8">8 Children</option>
                                                    <option value="9">9 Children</option>
                                                    <option value="10">10 Children</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col-lg-6 -->
                                <div class="col-lg-12">
                                    <div class="btn-box pt-3">
                                        <button type="button" class="theme-btn w-100">Check Availability</button>
                                    </div>
                                </div><!-- end col-lg-12 -->
                            </div><!-- end row -->
                        </form>
                    </div><!-- end contact-form-action -->
                </div>
            </div>
        </div>
    </div>
</div><!-- end modal-popup -->
    <script>
        $(document).ready(function (){
            setTotalInfo();
        });



        /* 체크여부에따른 정보 변화 */
        $(".cart_checkbox").on("change",function (){

            setTotalInfo($(".cart_info_div"));

        });

        function setTotalInfo(){
            let totalPrice =0;
            let totalCount = 0;
            let cartNum = [];

            $(".cart_info_div").each(function(index,element){

                if($(element).find(".cart_checkbox").is(":checked")=== true) {

                    totalPrice += parseInt($(element).find(".total_price_input").val());
                    totalCount += parseInt($(element).find(".count_input").val());
                    // cartNum.push(parseInt($(element).find(".cartNum_input").val()));
                    // alert(cartNum);
                }
            });

            $(".total_price_td").text(totalPrice.toLocaleString());

        }


        /** 장바구니 삭제 **/
        function deleteById(cartNum) {
            $.ajax({
                type: 'DELETE',
                url: '/rest/cart/'+cartNum,
            }).done(function(){
                alert("삭제가 완료되었습니다.");
                window.location.reload();
            }).fail(function(error){
                alert(JSON.stringify(error));
            });
        }

        function cartSubmit(){

            document.getElementById("cartForm").submit();

        }


    </script>

</th:block>



</html>