.screen_out {
    display:block;
    overflow:hidden;
    position:absolute;
    left:-9999px;
    width:1px;
    height:1px;
    font-size:0;
    line-height:0;
    text-indent:-9999px;
}

.wrap_button {
    position:absolute;
    left:15px;
    top:12px;
    z-index:2;
}

.btn_comm {
    float:left;
    display:block;
    width:70px;
    height:27px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/sample_button_control.png) no-repeat;
}

.btn_linkMap {
    background-position:0 0;
}

.btn_resetMap {
    background-position:-69px 0;
}

.hwt-address-top span {
    margin-bottom: 18px;
    font-size: 17px!important;
    font-weight: 600;
}

.hwt-address-bottom {
    display: flex;
    line-height: initial;
    margin-top: 15px;
}

.hwt-address-bottom img {
    width: 25px;
    height: 25px;
}

.hwt-address-bottom span {
    font-size: 15px!important;
    font-weight: 500;
}

.contact-map-wrap {
    margin-right: 20px;
    margin-left: 20px;
}